@use "../_DS-core/mixins/include-media" as *;
@use "../_DS-core/modules/core--banner";
@use "banners/banner-hero";  // Hero banners
@use "banners/banner-v1";    // Placeholder for custom banner
@use "banners/banner-v2";    // Placeholder for custom banner
@use "banners/banner-v3";    // Placeholder for custom banner

.m-banner {
	--banner-height--small: 300px;
	--banner-height--medium: 650px;
	--banner-height--full: 100vh;
	--bannerHeightMobile: 160px;

	@include media("<=desktop") {
		margin-bottom: 20px;
	}
}

