@use "../_DS-core/mixins/include-media" as *;

.dst-list {

  &.--cards-list-v1 {
	--list-col: var(--dst-list__col);
	--list-row: 1;

	display: grid;
	gap: var(--dst-list__gap);
	grid-template: repeat(var(--list-row, 1), 21rem) / repeat(var(--list-col, 1), 21.3rem);
	padding-bottom: 7.6rem;

	@include media(">phone-l", "<=desktop-l") {
	  --list-col: 2;
	  --list-row: 2;
	}

	@include media("<=phone-l") {
	  padding-bottom: 0;
	  --list-col: 1.5;

	}

	.dst-list {

	  &__item {
		padding-block: 4.5rem;
		padding-inline: 3rem;
		border-radius: 20px;
		background: var(--dst--secondary-color1);
		box-shadow: 0 2px 70px 0 rgba(0, 0, 0, 0.06);
		height: 100%;

		&:nth-child(2n) {

		  @include media(">phone-l") {
			margin-top: 7.6rem;
		  }
		}

		&:nth-child(2n - 1) {

		  @include media(">phone-l") {
			margin-bottom: 7.6rem;
		  }
		}
	  }

	  &__title {
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 0;
	  }
	}
  }

  &.--cards-list-v2 {
	--list-col: var(--dst-list__col);
	--list-row: 1;
	width: fit-content;
	display: grid;
	gap: var(--dst-list__gap);
	grid-template: repeat(var(--list-row, 1), 21rem) / repeat(var(--list-col, 1), 21.3rem);

	@include media(">tablet", "<=desktop-l") {
	  --list-col: 3;
	  --list-row: 2;
	}

	@include media("<=tablet") {
	  --list-col: 2;
	  --list-row: 3;
	}

	@include media("<=phone-l") {
	  gap: 10px;
	}

	.dst-list {

	  &__item {
		justify-content: center;
		margin-bottom: 0;

		&:not(:last-of-type) {
		  padding-block: 4.5rem;
		  padding-inline: 3rem;
		  border-radius: 50%;
		  background: var(--dst--secondary-color1);
		  box-shadow: 0 2px 70px 0 rgba(0, 0, 0, 0.06);
		  height: 100%;
		}

		&:last-of-type{

		  .dst-list{

			&__title {
			  font-size: 2.4rem;
			  line-height: 1.17;
			}
		  }
		}
	  }

	  &__title {
		font-size: 18px;
		font-weight: 600;
		line-height: 1.55;
		margin-bottom: 0;
	  }
	}
  }
}
