@use "../_DS-core/mixins/mini-mixins" as *;
@use "../_DS-core/mixins/include-media" as *;

/* Fix WP admin panel styles */

:root {
	--admin-font: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
	--dst-admin-accent-color: #50b2a0;
}

html {
	font-size: 10px;
}

body :where(.editor-styles-wrapper),
body.editor-styles-wrapper {
	--wysiwyg-margin: 1em;
	--wysiwyg-li-padding: 0 0 0 30px;
	--wysiwyg-li-bgp: 0 0.4em;
	--wysiwyg-li-margin: .5em;
	--wysiwyg-li-fallback: "\2022";
	--wp--style--block-gap: var(--wysiwyg-margin);

	color: var(--dst--base-text-color);
	line-height: var(--dst--base-text-line-height, 1);
	font-family: var(--dst--font-primary), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: var(--dst--blog-text-size, 2.2rem);
	font-weight: var(--dst--blog-text-font-weight, 400);
	//max-width: var(--dst--content-width, 1112px) !important;
	margin-inline: auto;
	padding-inline: var(--dst--page-gutter, 20px) !important;
	background-color: var(--dst--body-bg);

	p {
		font-size: var(--dst--base-text-size);
		font-weight: var(--dst--blog-text-font-weight, 400);
	}

	figcaption {

	}
}

body.post-type-post {
	--dst--content-width: 760px;
}

body.wp-admin,
body.block-editor-iframe__body {
	--dst--page-gutter: 20px;
	--dst--phone-width: 576px;
	--dst--tablet-width: 768px;
	--dst--desktop-width: 1112px;
	--dst--desktop-width-sm: 1024px;
	--dst--desktop-width-m: 1280px;
	--dst--desktop-width-l: 1440px;
	--dst--desktop-width-xl: 1640px;
	--dst--desktop-width-1920: 1920px;
	--dst--content-width: var(--dst--default-container-width, var(--dst--desktop-width-m)); // Default content width (1280)
	--dst--grid-gutter: 24px;
	--dst--vertical-gap: 6vmin;
	--adminRatio: 0.625;
	font-family: var(--admin-font), sans-serif;

	.is-style-colors-inverted {
		--dst--base-text-color: var(--dst--base-text-color-alt);
		--dst--base-heading-color: var(--dst--base-heading-color-alt);
	}

	.wpmdb {

		.license-block .license-status {
			font-size: 1.2rem;
		}

		.nav {
			font-size: 1.2rem;
		}

		.btn-sm {
			font-size: 1.2rem;
		}

		h2 {
			font-size: 2rem;
		}

		h3 {
			font-size: 1.8rem;
		}

		h4 {
			font-size: 1.4rem;
		}

		label, p {
			font-size: 1.2rem;
		}

		.btn {
			font-size: 1.2rem;
		}

		.actions-panel .action-buttons h4 {
			font-size: 1.4rem;
		}

		.panel-summary > span {
			font-size: 1.2rem;
		}

		.action-panel .panel-header-wrap.child-panel.panel-open h4 {
			font-size: 1.4rem;
		}

		input[type="text"], textarea {
			font-size: 1.4rem;
		}

		.wrapper {
			font-size: 16px;

			.search-replace .cell {
				font-size: 1em;
			}
		}
	}

	article.woocommerce-stats-overview__install-jetpack-promo p,
	.woocommerce-empty-activity-card .woocommerce-activity-card__body {
		font-size: 1.2rem;
	}

	article.woocommerce-stats-overview__install-jetpack-promo h2,
	.woocommerce-activity-card__header .woocommerce-activity-card__title {
		font-size: 1.5rem;
	}

	.m-wrapper {

		&.has-columns {

			.m-wrapper__inner {
				gap: 0;
			}

			.block-editor-inner-blocks {
				width: 100%;
			}

			.block-editor-block-list__layout {
				align-items: center;
				display: flex;
				flex-wrap: nowrap;
				gap: var(--wrap-col-gap);
				margin-inline: auto;
				width: 100%;
				max-width: calc(var(--dst--content-width) + var(--dst--page-gutter, 20px) * 2);

				.wp-block {
					flex: 1 !important;
				}

				.m-wrapper-column {
					max-width: 100% !important;
					flex-direction: column;

					.block-editor-block-list__layout {
						--wrap-col-1: 100%;
						--wrap-col-2: 100%;
						flex-direction: column;

						.wp-block {
							width: 100%;
							max-width: 100%;
						}
					}
				}
			}
		}
	}
}

.container,
.container-fluid,
.container-wide,
.container-custom {
	margin-inline: auto;
	width: 100%;
	padding-inline: var(--dst--page-gutter);
	transition: max-width var(--dst--transition), padding var(--dst--transition);

	&.no-side-padding {
		--dst--page-gutter: 0;
	}
}

.container {
	max-width: calc(var(--dst--content-width) + var(--dst--page-gutter, 20px) * 2);

	.no-side-padding > &,
	&.no-side-padding {
		padding-inline: 0;
		max-width: var(--dst--content-width);
	}
}

.container-wide {
	max-width: calc(var(--dst--wide-container-width) + var(--dst--page-gutter, 20px) * 2);

	.no-side-padding > &,
	&.no-side-padding {
		padding-inline: 0;
		max-width: var(--dst--wide-container-width);
	}
}

.container-custom {

	.no-side-padding > &,
	&.no-side-padding {
		padding-inline: 0;

		@include media(">desktop") {
			max-width: var(--l-container-width);
		}
	}

	@include media("<=desktop") {
		max-width: calc(var(--dst--content-width) + var(--dst--page-gutter, 20px) * 2);
	}

	@include media(">desktop") {
		max-width: var(--l-container-width, var(--dst--content-width));
	}
}

.container-fluid {

	&.no-side-padding {
		padding-inline: 0;
	}
}

.container-left {
	margin-left: 0;
}

.container-right {
	margin-right: 0;
}

.bg-light {
	background-color: var(--dst--secondary-color2);
}

.-h1,
.edit-site-style-book__example h1 {

	@include font-data(var(--dst--h1-font-size, 5.8rem), var(--dst--h1-line-height, 1), var(--dst--h1-font-weight, 600), var(--dst--h1-font));
}

.-h2,
.edit-site-style-book__example h2 {

	@include font-data(var(--dst--h2-font-size, 3.6rem), var(--dst--h2-line-height, 1), var(--dst--h2-font-weight, 600), var(--dst--h2-font));
}

.-h3,
.edit-site-style-book__example h3 {

	@include font-data(var(--dst--h3-font-size, 2.2rem), var(--dst--h3-line-height, 1), var(--dst--h3-font-weight, 600), var(--dst--h3-font));
}

.-h4,
.edit-site-style-book__example h4 {

	@include font-data(var(--dst--h4-font-size, 1.8rem), var(--dst--h4-line-height, 1), var(--dst--h4-font-weight, 600), var(--dst--h4-font));
	margin-bottom: var(--dst--h4-margin-bottom);
}

.is-mobile {

	.-h1 {

		font-size: calc(var(--dst--h1-font-size-mobile));
	}

	.-h2 {

		font-size: calc(var(--dst--h2-font-size-mobile));
	}

	.-h3 {

		font-size: calc(var(--dst--h3-font-size-mobile));
	}

	.-h4 {

		font-size: calc(var(--dst--h4-font-size-mobile));
	}

	.c-heading {

		&__pre {
			font-size: calc(var(--dst--pretitle-font-size-mobile, 18px) * 1.25);
		}

		&__sub {
			font-size: calc(var(--dst--subtitle-font-size-mobile, 18px) * 1.25);
		}
	}
}

.c-block__link-full {
	pointer-events: none;
}

// Module BANNERS Section

.m-banner__slide {
	position: relative;
	overflow: hidden;
}

.c-banner-nav__item {
	white-space: nowrap;
}

.m-slider-v2 {
	position: relative;
	min-height: 550px;

	.l-slider-tab,
	.m-slider__slide {
		height: 400px;
	}

	.m-slider-nav {
		position: relative;
	}

	.m-slider__container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.gap-top-default,
.gap-top-small,
.gap-top-big,
.gt {
	padding-top: var(--dst--desktop-vertical-gap);
}

.gt {
	padding-top: var(--dst--desktop-vertical-gap, var(--gap-desktop-default));
}

.gb {
	padding-bottom: var(--dst--desktop-vertical-gap, var(--gap-desktop-default));
}

.gt-s {
	padding-top: calc(var(--dst--desktop-vertical-gap) / 2);
}

.gb-s {
	padding-bottom: calc(var(--dst--desktop-vertical-gap) / 2);
}

.gt-l {
	padding-top: calc(var(--dst--desktop-vertical-gap) * 1.5);
}

.gt-custom {
	padding-top: var(--gt-custom);
}

.gb-l {
	padding-bottom: calc(var(--dst--desktop-vertical-gap) * 1.5);
}

.gb-custom {
	padding-bottom: var(--gb-custom);
}

.mt {
	margin-top: var(--dst--desktop-vertical-gap, var(--gap-desktop-default));
}

.mb {
	margin-bottom: var(--dst--desktop-vertical-gap, var(--gap-desktop-default));
}

.mt-custom {
	margin-top: var(--margin-top);
}

.mb-custom {
	margin-bottom: var(--margin-bottom);
}

.editor-sidebar .acf-block-panel,
.components-panel .acf-block-panel {
	container-type: inline-size;

	.acf-block-fields {
		background: #f5f8fc;
	}
}

@container (max-width: 460px) {

	.components-panel .acf-tab-wrap.-left .acf-tab-group li a,
	.editor-sidebar .acf-tab-wrap.-left .acf-tab-group li a {
		font-size: 11px;
		padding-block: 5px;
	}

	.editor-sidebar .acf-field.acf-accordion .acf-label.acf-accordion-title label,
	.components-panel .acf-field.acf-accordion .acf-label.acf-accordion-title label {
		font-size: 14px !important;
	}

	.editor-sidebar .acf-button-group label,
	.components-panel .acf-button-group label {
		padding-block: 3px;
	}

	.editor-sidebar .acf-field.acf-accordion .acf-label.acf-accordion-title,
	.editor-sidebar .components-panel__body-toggle.components-button,
	.components-panel .acf-field.acf-accordion .acf-label.acf-accordion-title,
	.components-panel .components-panel__body-toggle.components-button {
		padding-block: 8px;
	}
}

body.block-editor-page .interface-interface-skeleton__sidebar > div,
body.block-editor-page .interface-interface-skeleton__sidebar .interface-complementary-area.editor-sidebar {
	width: 450px !important;
}
