/* Slider Pagination / Bullets */

.m-slider {

	&__pagination:not(.swiper-pagination-lock) {
		--swiper-pagination-bottom: auto;
		--swiper-pagination-top: auto;
		display: flex;
		justify-content: center;
	}

	& &__pagination {
		position: relative;
		bottom: 0;

		.swiper-pagination-fraction {
			width: auto;
			white-space: nowrap;
		}

		.swiper-pagination-bullet {
			border: 1px solid var(--swiper-pagination-bullet-border);
			transition: border var(--dst--transition), background var(--dst--transition);
			border-radius: var(--swiper-pagination-radius);

			&-active,
			&:hover {
				border-color: var(--swiper-pagination-bullet-border-active);
			}
		}

		&.has-combo-progress {

			.swiper-pagination-progressbar-fill {
				transition: all 300ms;
				transform: scaleX(var(--data-progress));
			}
		}
	}

	.swiper-pagination-progressbar {
		top: auto !important;
		bottom: 0;
	}
}
