@use "../../../mixins/include-media" as *;

.slider-nav {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	width: 100%;

	&__item {

		@include media(">desktop") {
			flex: 1 1 0;
		}
	}

	.c-photo {
		overflow: hidden;
		display: flex;
		min-width: var(--thumbs-size);
		max-width: var(--thumbs-size);
		width: var(--thumbs-size);
		height: var(--thumbs-size);
		border: var(--thumb-border-width) solid var(--thumb-border-color);
		cursor: pointer;
		transition: all var(--dst--transition);

		.swiper-fade & {
			pointer-events: auto;
		}

		img {
			max-width: 100%;
			height: auto;
			margin: auto;
			object-fit: cover;
		}
	}

	.swiper-slide-thumb-active .c-photo {
		border-color: var(--thumb-border-color-active);
	}

	.is-img-rounded {
		border-radius: 50%;
	}
}
