@use "../../_DS-core/mixins/include-media" as *;
@use "../../_DS-core/layout/header/core--header_menu-mobile";

@include media("<=desktop") {

	.navbar-mobile {
		--burger-width: 24px;
		--burger-segment-height: 3px;
		--burger-segment-gap: 7px;
		--burger-segment-radius: 5px;
		--burger-color: --dst--primary-color1;
		--burger-bg: rgba(255, 255, 255, 0);
		--header-mobile-bg: var(--dst--secondary-color1);
		--header-mobile-dropdown-bg: var(--dst--secondary-color1);

		--navbar-link-size: 2.2rem;
		--navbar-link-color: #fff;
		--navbar-link-vpadding: 5px;
		--navbar-link-border-color: rgba(0, 0, 0, 0.1);

		--toggle-submenu-btn-width: 40px;
		--toggle-submenu-btn-height: 31px;
		--toggle-submenu-btn-bg: rgba(0, 0, 0, 0.1);

		&__inner {
			--navbar-link-color: var(--dst--primary-color1);

			.nav-main{

				&__wrap{
					height: 60%;
				}
			}
		}

		.c-block__btn {
			margin-top: 2em;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	.nav-icon {

		&__close {

		}
	}

}
