@use "../widgets/mixins";

/* Theme Settings - Forms */

[data-name="demo_form_settings"] {
	display: grid;
	grid-template-areas:
//		"label label"
		"form preview";
	grid-template-rows: auto 1fr;
	grid-template-columns: 55% auto;
	grid-gap: 20px;

	> .acf-label {
		//		grid-area: label;
		display: none;
	}

	> .acf-field {
		grid-area: form;
		margin: 0;
	}

	> .acf-input {
		grid-area: preview;
	}
}

[data-name="forms_settings"] {

	@include mixins.accordion-tile;

	.acf-field:not(.acf-field-radio) {
		display: block;
		position: relative;
	}


	[data-name="input-color"],
	[data-name="input-color_custom"],
	[data-name="input-background-color"],
	[data-name="input-background-color_custom"],
	[data-name="input-border-color"],
	[data-name="input-border-color_custom"] {
		padding-block: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.acf-label {

			> .description {
				top: 16px !important;
			}
		}
	}

	.acf-accordion {

		.acf-fields > .acf-field {
			min-height: unset !important;
		}
	}
}


.wp-admin {

	input[type="checkbox"] {
		height: 20px;
		width: 20px;
		min-width: 15px;

		&:checked::before {
			margin: -2px -3px;
			height: 22px;
			width: 22px;
		}
	}

	input[type="radio"] {
		height: 15px;
		width: 15px;
		min-width: 15px;

		&:checked::before {
			margin: 2px;
			height: 9px;
			width: 9px;
		}
	}

	.c-form {

		input[type="text"],
		input[type="email"],
		input[type="file"],
		input[type="phone"],
		input[type="tel"],
		input[type="number"],
		textarea,
		select {
			box-sizing: border-box;
			width: 100%;
			max-width: 100%;
			padding: var(--dst--input-padding-block, 4px) var(--dst--input-padding-inline, 10px);
			background-color: var(--dst--input-bg-color, #fff);
			color: var(--dst--input-color);
			border: var(--dst--input-border-width, 1px) solid var(--dst--input-border-color, #666);
			border-radius: var(--dst--input-border-radius, 5px);
			font-size: clamp(16px, 1vw, var(--dst--input-font-size));
			font-weight: var(--dst--input-font-weight, 400);
			min-height: var(--dst--input-height, unset);
		}

		textarea {
			resize: none;
			max-height: 120px;
		}

		select {
			appearance: none;
			background-image: var(--dst--select-icon);
			background-repeat: no-repeat;
			background-position: right 22px center;
		}

	}
}
