@use "../mixins/include-media" as *;

:root {
	--bullet-fallback: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z'/%3E%3C/svg%3E%0A");
}

.content-single {
	font-size: var(--dst--blog-text-size, 2.2rem);
	font-weight: var(--dst--blog-text-font-weight, 400);
	max-width: var(--blog-width, 850px);
	position: relative;
	margin-inline: auto;
	padding: 20px var(--dst--page-gutter) 3vmin;

	@include media(">desktop", "<=desktop-l") {
		--blog-width: 650px;
	}

	@include media(">desktop") {
		min-height: 600px;
	}
}

.is-wysiwyg,
.post-type-post .editor-styles-wrapper,
body.editor-styles-wrapper {

	a {
		color: var(--dst--base-link-color);

		.is-style-colors-inverted & {
			color: var(--dst--base-link-color-alt);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		color: var(--dst--base-heading-color);

		.is-style-colors-inverted & {
			color: var(--dst--base-heading-color-alt);
		}
	}

	p,
	ul,
	ol,
	table,
	img,
	blockquote,
	video,
	iframe,
	.wp-block-gallery {

		&:not(:last-child) {
			margin-top: 0;
			margin-bottom: var(--wysiwyg-margin);
		}
	}

	ol {
		list-style: decimal;
		margin-left: 25px;
	}

	li {
		margin-bottom: var(--wysiwyg-li-margin, 0.5em);
	}

	ul:not(.dst-list) {
		list-style-type: none;
		list-style-position: inside;
		padding-left: 0;
		margin-left: 0;
	}

	img,
	video,
	iframe {
		max-width: 100%;
		height: var(--dst-media__height, auto);
		display: block;
	}

	.wp-block-quote {

		padding: 0.5rem 2rem;
		border-left: var(--dst--blockquote-border-size, 3px) solid var(--dst--blockquote-color, currentColor);
		font-size: var(--dst--blockquote-font-size, 1.15em);
		margin-inline: 0;

		ul {
			font-style: italic;
			margin-bottom: 0;
			font-size: 0.9em;
		}

		p {

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	iframe {
		width: 100%;
	}

	table {

		border-collapse: collapse;
		font-size: var(--dst--td-font-size, 1.6rem);
		font-weight: var(--dst--td-font-weight, 500);

		thead {
			color: var(--dst--thead-color);
			background-color: var(--dst--thead-bg);
			font-size: var(--dst--thead-font-size, 2rem);
		}

		td,
		th {
			padding: var(--dst--td-padding, 16px);
			border: 1px solid var(--dst--td-border-color, transparent);

			@include media("<tablet") {
				padding: 5px;
			}
		}
	}

}

// Custom Li bullet

body:not(.single-post) .is-wysiwyg ul,
ul.wp-block-list {

	li {
		display: flex;
		align-items: flex-start;
		column-gap: 1rem;
		padding-inline: 1rem 0;
		position: relative;

		&::before {
			content: "";
			height: calc(var(--dst--base-text-size) * var(--dst--base-text-line-height));
			min-width: 4px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: var(--dst--list-item-style, var(--bullet-fallback));
			background-size: 100%;
		}
	}

	+ ul {
		margin-top: calc(var(--wysiwyg-margin) * -1);
		padding-inline: 2.4rem 0;
	}
}

.is-style-colors-inverted ul li::before {
	filter: invert(1);
}

/* WYSIWYG feature: readmore collapser */

.read-more-wrapper {

	.read-more-text {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		transition: max-height 0.36s ease-in-out, opacity 0.5s ease-in-out;
	}

	&.is-active {

		.read-more-text {
			opacity: 1;
		}
	}

	.read-more-toggle {
		cursor: pointer;
		outline: none;
	}
}
