
.acf-fields {

	[data-name="arrow_type"] {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.button-icon-library,
	div[data-name="button-project-icon-library"]{
		overflow: auto;
		//border-left: #eee solid 1px;
		//border-right: #eee solid 1px;

		.acf-radio-list {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;

			li {
				width: 7%;
				min-width: 33px;
				line-height: 0;
				text-align: center;
				margin-right: 5px;

				.components-panel & {
					margin-right: 0;
					width: 12%;
				}

				@media screen and (max-width: 575px) {
					width: 33.33%;
				}
			}
		}

		.acf-input label {

			font-size: 0;

			input {
				opacity: 0;
				position: absolute;
			}

			img {
				max-width: 90%;
				height: 30px;
				padding: 3px;
				box-sizing: border-box;
				border: 2px solid transparent;
				background-color: rgba(0, 0, 0, 0.1);
			}

			&.selected {

				img {
					border: 3px solid #12a212;
					filter: none;
					opacity: 1;
				}
			}
		}
	}
}
