/* Gaps */

.dst-gap-icon {

	.components-button {
		padding: 3px !important;

		&.is-opened {

			span {
				opacity: 0 !important;
			}
		}

		&:hover {

			span {
				opacity: 1;
			}
		}

		&:focus {
			--wp-admin-border-width-focus: 0 !important;
			outline-width: 0 !important;
		}
	}

	.is-opened.has-icon.has-icon {

		svg {
			color: #fff;
		}

		&::before {

			background-color: #000;
		}
	}

	svg {
		height: 28px;
		width: 32px;
	}

	span {
		position: absolute;
		font-size: 11px;
		width: 100%;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		opacity: 0;
		transition: opacity .1s;
	}

	&.is-top {

		span {
			top: -1px;
		}
	}

	&.is-bottom {

		span {
			bottom: -1px;
		}
	}

}

.horizontal-gap-toggle {

	&.is-active {

		svg {
			color: #000;

			path {
				opacity: 0;
			}
		}

		&::before {
			background: transparent !important;
		}
	}

	&:focus {
		--wp-admin-border-width-focus: 0 !important;
		outline-width: 0 !important;
	}
}

.block-editor-block-toolbar {

	&:has(.dst-columns__border-toggle.is-pressed) {

		.dst-gap-icon span {
			opacity: 1;
		}
	}
}

.dst-gaps-popover {

	.components-dropdown-menu__menu {

		display: flex;

		.is-active {

			background-color: var(--wp-admin-theme-color);
			color: #fff;
		}

		button {

			height: 32px;
			line-height: 18px;

			&:focus {
				--wp-admin-border-width-focus: 0 !important;
				outline-width: 0 !important;
			}
		}
	}

	> div::before {
		margin: 0 0 10px;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		display: block;
	}

	&.is-top {

		> div::before {
			content: 'Set Top Gap';
		}
	}

	&.is-bottom {

		> div::before {
			content: 'Set Bottom Gap';
		}
	}
}

.dst-gap-custom-popover,
.dst-gap-combined-popover {
	min-width: 220px;

	.components-popover__content {
		width: 100%;
		padding: 4px;

		h3 {
			font-size: 14px;
			margin: 0 0 6px;
		}
	}

	.dst-gap-presets {
		display: flex;
		gap: 2px;

		button {

			&:focus {
				--wp-admin-border-width-focus: 1px !important;
			}
		}
	}

	.dst-gap-custom-inputs {

		.components-base-control__field {
			display: flex;
			margin: 0;

			label {
				min-width: 25%;
			}

			input {
				flex: 1 1 auto;
			}
		}
	}
}

.block-editor-block-list__block {

	transition: padding 0.3s;
}


/* Unit Control */

.ds-unit-control {

}


/* Tabs panel component. Used only in styles preview */

.ds-responsive-styles-tabs {

	--tabs-bd: #50b2a0;
	--tabs-bg: #fbfaf1;

	.components-tab-panel {

		&__tabs {
			position: relative;
			z-index: 1;
		}

		&__tabs-item {

			&.is-active {
				--wp-admin-border-width-focus: var(--tabs-bd);
				border: 1px solid var(--tabs-bd);
				border-bottom: none;
				background: var(--tabs-bg);
			}
		}

		&__tab-content {
			position: relative;
			padding: 10px;
			outline-offset: -1px;
			outline: var(--tabs-bd) solid 1px;
			background: var(--tabs-bg);
			top: -1px;
		}
	}
}

/* Hints */

.dst-simple-text,
.wp-block.dst-list,
.dst-button-group,
.wp-block-ds-blocks-c-heading,
.wp-block-ds-blocks-dst-wrapper {

	&::after {
		position: absolute;
		top: -16px;
		font-size: 10px;
		color: #999;
		border: 1px dotted #000;
		background-color: rgba(255, 255, 255, .2);
		line-height: 1.4;
		left: 0;
		padding-inline: 5px;
		cursor: pointer;
		opacity: 0 !important;
	}

	&:hover {

		&::after {
			opacity: 1 !important;
		}
	}
}

.dst-simple-text::after {
	content: 'Simple Text Component';
}

.wp-block.dst-list::after {
	content: "List Wrapper";
	width: 100%;
	text-align: center;
}

.dst-button-group::after {
	content: "Button Group";
}

.wp-block-ds-blocks-c-heading::after {
	content: "Heading Component";
}

.wp-block-ds-blocks-dst-wrapper::after {
	content: "DST Wrapper";
	left: auto;
	right: 0;

}

.wp-block-ds-blocks-c-heading,
.dst-simple-text,
.dst-button-group {

	&.is-selected {

		> div {

			padding-bottom: 0; // Appender offset.

			> .block-list-appender {

				display: block;
				transform: translateY(100%);
			}
		}
	}
}

.block-editor-block-list__layout.c-block__inner,
.block-editor-block-list__layout.l-banner__text,
.block-editor-block-list__layout.l-form__content-inner,
.block-editor-block-list__layout.wp-block-ds-blocks-button-group,
.block-editor-block-list__layout.c-heading__description,
.block-editor-block-list__layout.dst-simple-text__inner,
.block-editor-block-list__layout.wp-block-ds-blocks-c-list,
.block-editor-block-list__block.wp-block-ds-blocks-dst-wrapper {

	.block-list-appender {
		transform: translateY(100%);

		.components-button {

			max-width: fit-content;
			width: auto !important;
			align-items: center !important;
			padding: 0 10px !important;
			height: auto !important;
			display: flex !important;
			flex-direction: row;
			gap: 0.25rem;
			white-space: nowrap !important;
			background-color: #1e1e1e !important;
			color: #fff;

			&:hover {
				background-color: #007cba !important;
			}

			&::after {
				content: 'Append additional content';
				margin-right: 5px;
			}
		}
	}
}

.block-editor-block-list__layout.l-banner__text {

	&:has(> .block-list-appender) {

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			pointer-events: none;
			border: 1px dotted var(--wp-admin-theme-color);
		}

	}
}

/* DST LIST */

/* DST Decorations Picker Component */
.dst-decorations-dropdown {
	width: 100%;
	padding: 0;
	box-shadow: inset 0 0 0 1px #d8d8d8, 0 0 0 currentColor;
	margin-bottom: 2rem;

	button {
		box-shadow: none;
		outline: none;

		&.is-opened {
			background-color: #f0f0f0;
		}
	}
}

.dst-decorations-popover {
	width: 250px;

	.components-popover__content {
		width: 100%;
	}
}

/* Megamenu */

.megamenu__inner-wrapper {

	.block-editor-block-list__layout {
		min-height: 30px;
		background: #eef;

		.rich-text [data-rich-text-placeholder]::after {
			font-size: 14px;
		}
	}

	.block-list-appender,
	.wp-block-navigation {
		display: block !important;
	}
}


/* Content 2*/

.ds-gaps-control {
	flex-direction: row-reverse;
	gap: 10px;
	align-items: center;
}
