$fade-transition-duration: 1s;
$fade-transition-effect: ease-in-out;
$transform-distance: 60px;

.has-inview-a {

    [data-viewport] {
        contain: paint;
    }

    [data-viewport-effect] {

        > * {
            transition-duration: $fade-transition-duration;
            transition-timing-function: $fade-transition-effect;
        }
    }

    /**
		* Fade animations:
		* fade
		* fade-up, fade-down, fade-left, fade-right
		*/
    [data-viewport-effect^="fade"][data-viewport-effect^="fade"] {

        > * {
            opacity: 0;
            transition-property: opacity, transform;
        }

        &.in-view {

            > * {
                opacity: 1;
                transform: none;
            }
        }
    }

    [data-viewport-effect="fade-up"] {

        > * {
            transform: translate3d(0, $transform-distance, 0);
        }
    }

    [data-viewport-effect="fade-down"] {

        > * {
            transform: translate3d(0, -$transform-distance, 0);
        }
    }

    [data-viewport-effect="fade-right"] {

        > * {
            transform: translate3d(-$transform-distance, 0, 0);
        }
    }

    [data-viewport-effect="fade-left"] {

        > * {
            transform: translate3d($transform-distance, 0, 0);
        }
    }

    /**
	   * Zoom animations
	   */
    [data-viewport-effect^="zoom"][data-viewport-effect^="zoom"] {

        > * {
            opacity: 0;
            transition-property: opacity, transform;
        }

        &.in-view {

            > * {
                opacity: 1;
                transform: translate3d(0, 0, 0) scale(1);
            }
        }
    }

    [data-viewport-effect="zoom-in"] {

        > * {
            transform: scale(0.6);
        }
    }

    /**
	  * Slide animations
	  * slide-right, slide-left (enable if needed)
	  */
    [data-viewport-effect^="slide"][data-viewport-effect^="slide"] {

        > * {
            transition-property: transform;
            visibility: hidden;
        }

        &.in-view {

            > * {
                visibility: visible;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    [data-viewport-effect="slide-up"] {

        > * {
            transform: translate3d(0, 100%, 0);
        }
    }

    [data-viewport-effect="slide-down"] {

        > * {
            transform: translate3d(0, -100%, 0);
        }
    }

    [data-viewport-effect='slide-right'] {

        > * {
            transform: translate3d(-100%, 0, 0);
        }
    }

    [data-viewport-effect='slide-left'] {

        > * {
            transform: translate3d(100%, 0, 0);
        }
    }

    [data-viewport-effect='fade-in-seq'][data-viewport-effect='fade-in-seq'] {

        .l-ccbl__item,
        .l-tbnav__item,
        .l-rcbl__col,
        .l-team__item,
        .l-counter__item,
        .c-animated-list__item {
            transform: translateY(30px);
            opacity: 0;
            transition: 1s ease;
        }

        &.in-view {

            .l-ccbl__item,
            .l-tbnav__item,
            .l-rcbl__col,
            .l-team__item,
            .l-counter__item,
            .c-animated-list__item {
                opacity: 1;
                transform: translateY(0);

                @for $i from 1 through 9 {
                    $transition-delay: #{$i}s;
                    &:nth-child(#{$i}) {
                        transition-delay: #{$i * .1}s;
                    }
                }
            }
        }
    }

    [data-viewport-effect='fade-in-slides'][data-viewport-effect='fade-in-slides'] {

        .swiper-slide {
            clip-path: circle(0% at 50% 50%);
            transition: .3s;
        }

        &.in-view {

            .swiper-slide {
                clip-path: circle(75% at 50% 50%);

                @for $i from 1 through 6 {
                    $transition-delay: #{$i}s;
                    &:nth-child(#{$i}) {
                        transition-delay: #{$i * .2}s;
                    }
                }
            }
        }
    }

    [data-viewport-effect='animate-headings'][data-viewport-effect='animate-headings'] {

        .c-heading {

            &__pre,
            &__title,
            &__sub,
            &__description {
                clip-path: polygon(0 0, 0 0, 0 0);
                transition: .8s cubic-bezier(0.55, 0.06, 0.33, 1.85);
                transform: translateX(-30px) scale(.86) skew(8deg);
            }
        }

        &.in-view {

            .c-heading {

                &__pre,
                &__title,
                &__sub,
                &__description {
                    clip-path: polygon(0 0, 200% 0, 0 200%);
                    transform: translateX(0) scale(1) skew(0);
                    transition: .8s cubic-bezier(0.55, 0.06, 0.33, 1.85);
                }

                &__title {
                    transition-delay: .3s;
                }

                &__sub {
                    transition-delay: .6s;
                }

                &__description {
                    transition-delay: .9s;
                }
            }
        }
    }

}

