@use "../../_DS-core/mixins/include-media" as *;
@use "../../_DS-core/mixins/mini-mixins" as *;

.blog-filter {
	--filter-bg: transparent;
	--filter-link-color: var(--dst--primary-color2);
	--filter-link-color-active: var(--dst--secondary-color1);
	--filter-link-size: 2rem;
	--filter-link-weight: 600;
	--filter-vspace: .8rem;
	--filter-icon-color: var(--filter-icon-color);

	--dst--input-height: 40px;
	--dst--input-border-radius: 1.2rem;

	--filter-dropdown-bg: #fff;
	--filter-dropdown-offset: 15px;
	--filter-dropdown-padding: 1.4rem 1.6rem;;
	--filter-dropdown-radius: 1rem;
	--filter-dropdown-shadow: 0 4px 34px rgba(0, 7, 63, 0.1);

	background-color: var(--filter-bg, transparent);

	@include media(">desktop") {
		--dst--input-height: 4.8rem;
	}

	&__inner {
		position: relative;
		padding-block: var(--filter-vspace, 20px);
		gap: 10px;

		@include media(">=tablet") {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

	}

	&__list {
		display: flex;
		gap: .8rem;
		line-height: 1.2;

		@include media("<=tablet") {
			flex-wrap: wrap;
			padding-right: 10px;
		}

		> li {
			white-space: nowrap;
		}

		a {
			color: var(--filter-link-color);
			font-weight: var(--filter-link-weight);
			font-size: var(--filter-link-size);
			padding: 1.2rem 1.5rem;
			border-radius: var(--dst--input-border-radius);
			border: 1px solid var(--dst--primary-color2);
			background-color: var(--filter-link-color-active);
			transition: all var(--dst--base-transition) ease-in-out;

			&:hover,
			&.active_term {
				color: var(--filter-link-color-active);
				background-color: var(--filter-link-color);
			}
		}
	}

	&__search {
		position: relative;
		display: flex;

		@include media(">tablet") {
			width: min(245px, 100%);
		}

		&-btn {
			position: absolute;
			right: 3px;
			top: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			width: calc(var(--dst--input-height) - 6px);
			height: calc(var(--dst--input-height) - 6px);
			border-radius: 1rem;
			background-color: transparent;
			transition: all var(--dst--base-transition) ease-in-out;
			transform: translateY(-50%);
			border: none;

			@include media('<=phone-l'){
				right: 10px;
			}

			.icon {
				color: var(--filter-icon-color, var(--dst--secondary-color5));
				vertical-align: top;
			}

			&:hover {

				.icon {
					color: var(--dst--primary-color2);
				}
			}
		}

		input[type="text"] {
			--dst--input-bg-color: transparent;
			max-width: 100%;
			border-color: var(--dst--primary-color2);
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1.2;
			padding-inline: 1.4rem 1.6rem;
			border-radius: var(--dst--input-border-radius);

			@include media('<=desktop') {
				font-size: calc(1.6rem * 1.25);
			}

			@include placeholder {
				color: var(--dst--secondary-color5);
			}
		}

		@include media("<tablet") {
			margin-top: 10px;
		}
	}

	&__dropdown {
		position: relative;

		label {
			font-weight: 700;
			text-transform: uppercase;
			margin-right: 1em;
			width: auto;
		}

		select {
			max-width: 300px;
		}
	}

	.target-category_name{
		--dst--input-border-color:var(--dst--primary-color2);
		font-weight: 600;
		line-height: 1.2;
		padding-inline: 1.4rem 1.6rem;
	}

	&__wrap {
		align-items: center;
		padding-block: 10px;
		gap: 10px;
		display: none;
	}

	&__sort {
		display: contents;
	}

	@include media("<=desktop") {

		.-desktop {
			display: none;
		}
	}

	@include media(">desktop") {

		.-mobile {
			display: none;
		}
	}

}

// tabs

.flex-tabs__outer {
	position: relative;

	@include media(">desktop") {
		max-width: calc(100% - 260px);
	}

	&:not(.--jsfied) {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	// shared

	.--hidden {
		display: none;
	}

	// primary

	.-primary {
		display: flex;

		&:not(:has(.--hidden.-more)) {

			> li {
				flex-grow: 1;
			}
		}

		.-more {
			position: relative;

			> button {
				background: none;
				border: none;

				span {
					display: inline-block;
					transition: transform 0.2s;
				}
			}
		}
	}

	&.--show-secondary .-primary {

		.-more > button span {
			transform: rotate(180deg);
		}
	}

	// secondary

	.-secondary {
		min-width: 10em;
		display: none;
		position: absolute;
		background: var(--filter-dropdown-bg);
		border-radius: var(--filter-dropdown-radius);
		box-shadow: var(--filter-dropdown-shadow);
		margin-top: var(--filter-dropdown-offset);
		padding: var(--filter-dropdown-padding);
		z-index: 10;
		animation: nav-secondary 0.2s;

		a {
			padding: 1.5rem 1.5rem;
			display: block;
		}
	}

	&.--show-secondary .-secondary {
		display: flex;
		flex-direction: column-reverse;
		gap: .8rem;

		li{
			height: fit-content;
			width: fit-content;
		}
	}
}

// keyframes

@keyframes nav-secondary {

	0% {
		opacity: 0;
		transform: translateY(-1em);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
