@use "../../_DS-core/mixins/include-media" as *;

/**
 ############################
 #   MODULE: TEAMS
 ############################
 */

.l-team {
  overflow: hidden;
  position: relative;
  z-index: 10;

  &__list {
	gap: var(--grid-col-gap);

	@include media(">=tablet") {
	  display: grid;
	  grid-template: auto/repeat(var(--grid-col), minmax(0, 1fr));
	  gap: var(--grid-col-gap);
	}

	.l-team__item {
	  display: block;
	  width: 100%;
	}
  }

  &__item {

	.c-block__media {
	  overflow: hidden;
	}
  }
}

.c-team {
  position: relative;

  &__preview {

	.c-block__body {
	  display: none;
	}

	&.text-center {

	  .social-list {
		justify-content: center;
	  }
	}
  }

  &__preview-name {
	color: var(--team-grid-name-color);
	font-size: var(--team-grid-name-size);
	font-weight: var(--team-grid-name-weight);
	margin: 0;
  }

  &__preview-bio {

	.c-btn.floatbox {
	  position: static;
	  overflow: hidden;

	  &::before {
		content: "";
		position: absolute;
		inset: 0;
	  }
	}
  }
}


.c-team__details {
  padding: 3.2rem;

  &-inner {
	display: flex;
	row-gap: 2rem;
	column-gap: 5rem;

	@include media("<=tablet") {
	  flex-direction: column;
	}
  }

  .c-team__preview-brief {
	display: none;
  }

  &-name {
	color: var(--team-details-name-color);
	font-size: var(--team-details-name-size, 2.2rem);
	font-weight: var(--team-details-name-weight, 600);
  }

  &-role {
	color: var(--team-details-role-color);
	font-size: var(--team-details-role-size);
	font-weight: var(--team-details-role-weight);
  }

  &-bio {
	line-height: 1.4;
	max-height: 400px;
	overflow: auto;
	padding-right: 10px;
	scrollbar-width: thin;
	scrollbar-color: var(--dst--primary-color3) #fff;
  }

  &-phone {
	white-space: nowrap;
  }

  .c-team__preview {

	@include media(">desktop") {
	  display: flex;
	  justify-content: flex-end;
	}
  }

  &-img {

	img {
	  max-width: 100%;
	  height: auto;
	}
  }
}


// Core Structure

.gridder-show {
  position: relative;

  @include media("<=tablet") {
	grid-area: span 1 / 1 !important;
  }
}

.gridder-navigation {
  position: absolute;
  width: 30%;
  display: flex;
  justify-content: flex-end;

  .gridder-close {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	overflow: hidden;
	text-indent: 999px;
  }
}
