@use "../../_DS-core/mixins/include-media" as *;
@use "../../_DS-core/layout/header/core--header_megamenu";

.site-header:has(.megamenu) {
	--dst--megamenu-bg: var(--dst--dropdown-bg);
	--dst--megamenu-height: 400px;
	--dst--megamenu-radius: 3rem;
	--dst--megamenu-inline-spacing: 0;
	--dst--megamenu-padding-inline: 20px;
	--dst--megamenu-padding-block: 6rem;
	--dst--megamenu-shadow: var(--dst--dropdown-shadow);
	--dst--dropdown-offset: 14px;
	--dst--sticky-header-height: 65px;

	@include media('<=desktop') {
		--dst--sticky-header-height: 60px;
	}

	.megamenu {
		--dst--content-width: var(--dst--desktop-width-l);
		--dst--page-gutter: var(--dst--megamenu-padding-inline);

		@include media('>desktop') {
			padding-inline: var(--dst--page-gutter);
		}

		.has-lg-font-size{
			--wp--preset--font-size--lg: 18px;
			font-weight: 500;
		}

		.wp-block-navigation {
			--dst--dropdown-font-size: 16px;
			--dst--dropdown-font-weight: 400;
			gap: 1.9rem;

			@include media('>desktop') {
				gap: 3.2rem;
			}

			&__container {
				margin-block: 1.9rem .3rem;

				@include media('>desktop') {
					margin-block: 2.9rem 1.3rem;
				}
			}
		}

		.ds-columns{

			&.column-v1{

				>.ds-row{
					grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
				}
			}
		}

		.c-btn{

			&.-link{

				@include media('<=desktop') {
					width: fit-content;
				}
			}
		}
	}

}

.sub-menu:has(.megamenu) {
	background: var(--dst--megamenu-bg);
	min-height: var(--dst--megamenu-height);
	border-radius: var(--dst--megamenu-radius);
	top: calc(var(--wp-admin--admin-bar--height, 0px) + var(--dst--wc-notice-height, 20px) + var(--dst--header-height, 60px));
	left: var(--dst--megamenu-inline-spacing, 0);
	right: var(--dst--megamenu-inline-spacing, 0);
	padding-inline: 0;
	padding-block: var(--dst--megamenu-padding-block, 20px);

	@include media('>desktop') {
		overflow-y: auto;
		overflow-x: hidden;
		height: auto;
		width: calc(var(--dst--content-width));
		max-width: 90vw;
		left: 50%;
		transform: translateX(-50%);

		&::-webkit-scrollbar {
			width: 5px;
		}
	}

}

.nav-main .menu-item-has-children > .sub-menu:has(.megamenu) {

	@include media('>desktop') {
		left: 50%;
		transform: translateX(-50%) !important;
	}
}

.megamenu {

}

.nav-main,
.nav-secondary {

	&__links {

		> .menu-item-has-children {

			&:has(.megamenu) {

				@include media('>desktop') {

					/* Mega menu arrow */

					&::before {
						content: "";
						position: absolute;
						height: 0;
					  	bottom: 0;
						left: 50%;
						transform: translate(-50% , 100%);
						border-left: 12px solid transparent;
						border-right: 12px solid transparent;
						border-bottom: 18px solid var(--dst--megamenu-bg);
						z-index: 2;
						transition: none;
						width: 100%;
						opacity: 0;

					}
				}
			}
		}
	}
}
