@use "../../_DS-core/mixins/include-media" as *;
@use "../../_DS-core/layout/header/core--header_search";

.site-search {
	--search-size: 30px;
	--search-btn-bg: rgba(255,255,255,0.1);
	--search-btn-radius: 50%;
	--search-height: 30px;
	--search-width: 250px;
	--search-radius: 0;
	--search-outer-bg: var(--dst--primary-color2);
	--search-padding: 5px;
	--search-top-offset: 40px;
	--search-outer-border: var(--dst--primary-color3);
	--search-btn-color: var(--dst--primary-color2);
}
