@use "../../_DS-core/mixins/include-media" as *;

.addtoany_share_save_container {

	@include media(">desktop") {
		margin: 0;
		position: sticky;
		top: 215px;
		height: 650px;
		float: left;
		z-index: 1;

		> div {
			position: absolute;
			top: 25vh;
			left: calc((var(--article-img-shift) + (50vw - var(--blog-width) / 2 - var(--article-img-shift) + var(--dst--page-gutter)) / 2) * -1);
			transform: translateX(-50%);
		}
	}

	.addtoany_list {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include media("<=desktop") {
			flex-direction: row;
			justify-content: center;
		}

		a {
			margin-bottom: 10px;
			transition: all var(--dst--base-transition) ease-in-out;

			&:hover {
				transform: scale(1.05);

				span {
					opacity: 1;
				}
			}

			&.addtoany_share {
				display: none;
			}

			> span {
				border-radius: 56px !important;
				height: 50px;
				width: 50px;
				display: flex;
				align-items: center;
				justify-content: center;

				svg {
					width: 26px;
				}

			}
		}
	}
}
