@use "../../_DS-core/mixins/include-media" as *;

.scroll-down {
	position: absolute;
	z-index: 3;

	.is-style-colors-inverted & {
		color: #fff;
	}

	&.sd-left {
		left: 0;

		@include media(">desktop-l") {
			left: 15px;
		}
	}

	&.sd-right {
		right: 0;

		@include media(">desktop-l") {
			right: 15px;
		}
	}

	&.sd-left,
	&.sd-right {
		display: flex;
		flex-direction: column;
		align-items: center;
		top: 50%;

		.scroll-down__txt {
			writing-mode: vertical-rl;
			transform: rotate(180deg);
			white-space: nowrap;
		}

		.scroll-down__ico {
			margin: 20px 0;
		}

		@include media("<=desktop") {
			display: none;
		}
	}

	&.sd-center {
		left: 50%;
		transform: translateX(-50%);
		bottom: 50px;
		display: flex;
		flex-direction: column-reverse;

		img {
			display: block;
			margin: 10px auto;
		}
	}

	@include media("<=desktop") {
		display: none;
	}
}
