/**
 ############################
 #   Content Block Component
 ############################
 */

.c-block {

	background-color: var(--c-block__bg, transparent);
	box-shadow: var(--c-block__shadow, none);
	color: var(--c-block__color);
	border-radius: var(--c-block__radius, var(--c-block-radius));

	&__stars{
	  display: flex;
	  align-items: center;
	  justify-content: flex-start;
	  gap: 1.2rem;
	}

	&__title {
		position: relative;
		font-size: var(--c-block__title-size);
		font-weight: var(--c-block__title-weight);
		font-family: var(--c-block__title-font);
		line-height: var(--c-block__title-height);
		letter-spacing: var(--c-block__title-ls, 0);
		text-transform: var(--c-block__title-transform);
		color: var(--c-block__title-color, var(--dst--base-heading-color));
		margin-bottom: var(--c-block__title-margin, 0.5em);
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: var(--c-block__title-clamp, 3);
		overflow: hidden;

		a {
			color: inherit;
			display: block;

			&:hover {
				color: var(--dst--btn-link-color-hover);
			}
		}
	}

	&__description {
		line-height: var(--c-block__line-height, inherit);
		font-size: var(--c-block__font-size);
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: var(--c-block__text-clamp, unset);
		overflow: hidden;

		p {

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__media {
		position: relative;
	}

	&__body {
		padding-block: var(--c-block__padding-block, 15px);
		padding-inline: var(--c-block__padding-inline, 15px);
		font-size: var(--c-block__text-size);
		color: var(--c-block__color);
	}

	&:has(.c-block__link-full) {
		position: relative;
	}

	&__link-full {
		position: absolute;
		inset: 0;
		z-index: 1;

		&:focus-visible {
			outline: 2px solid var(--outline-color);
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
			border-radius: var(--c-block__radius);

			.c-media {
				z-index: -1;
			}
		}
	}

	&__icon {
		max-width: 100%;
		height: auto;
		overflow: hidden;
	}

	&__tagline {
		font-size: var(--c-block__tagline-size);
		text-transform: var(--c-block__tagline-transform);
		font-weight: var(--c-block__tagline-weight);
		color: var(--c-block__tagline-color);
		margin-bottom: var(--c-block__tagline-margin, 0.5em);
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}

	&__tag {
		font-size: var(--c-block__tag-size);
		font-weight: var(--c-block__tag-weight);
		text-transform: var(--c-block__tag-transform);
		color: var(--c-block__tag-color);
	}

}
