@use "../mixins/include-media" as *;

.c-bg {
	position: absolute;
	inset: 0;
	overflow: hidden;
	z-index: 0;
	pointer-events: none;

	&__item {
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: -1;
		width: var(--dst--bg-desktop-width, auto);

		&.is-fixed {
			overflow: hidden;
			clip-path: inset(0 0 0 0);

			.c-bg__media {
				position: fixed;
				top: 0;
			}
		}

		@include media("<=tablet") {
			width: var(--dst--bg-mobile-width, var(--dst--bg-desktop-width, auto));
		}

	}

	&__media {
		width: 100%;
		height: 100% !important;
		object-fit: var(--dst--bg-desktop-size, cover);
		object-position: var(--dst--bg-desktop-focal, 50% 50%);
		background-attachment: var(--dst--bg-desktop-fixed, initial);

		@include media("<=tablet") {
			object-fit: var(--dst--bg-mobile-size, var(--dst--bg-desktop-size, cover));
			object-position: var(--dst--bg-mobile-focal, var(--dst--bg-desktop-focal, 50% 50%));
			background-attachment: var(--dst--bg-mobile-fixed, var(--dst--bg-desktop-fixed, initial));
		}
	}
}

// Responsive visibility classes

.-visible-desktop {
	display: block;

	@include media("<=tablet") {
		display: none;
	}
}

.-hidden-desktop {
	display: none;

	@include media("<=tablet") {
		display: block;
	}
}

.-visible-mobile {
	display: none;

	@include media("<=tablet") {
		display: block;
	}
}

.-hidden-mobile {
	display: block;

	@include media("<=tablet") {
		display: none;
	}
}
