.acf-field {

	&.ds-color-selector {
		white-space: nowrap;
		min-height: 100px !important;
		padding-bottom: 25px;

		.acf-radio-list {
			display: flex;
			align-items: center;
			gap: 2px;
		}

		li {
			margin-right: 3px;

			label {
				position: relative;
				display: inline-block;
				vertical-align: top;
			}

			&:not(:last-child) {

				label {
					font-size: 0;
					color: transparent;

					&::before {
						content: "";
						width: 20px;
						height: 20px;
						display: inline-block;
						vertical-align: top;
						border: 1px solid #fff;
						border-radius: 50%;
						box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1)
					}

					&::after {
						position: absolute;
						transform: translate(-50%, 20px);
						left: 50%;
						top: 25px;
						background: rgba(0, 0, 0, 0.6);
						color: #fff;
						font-size: 11px;
						white-space: nowrap;
						text-align: center;
						padding: 4px 5px;
						border-radius: 3px;
						opacity: 0;
						transition: all .3s;
						pointer-events: none;
						line-height: 1;
						z-index: 99999;
					}

					&.selected {

						&::before {
							box-shadow: 0 0 3px 2px #156f08
						}
					}

					&:hover {

						&::after {
							opacity: 1;
							transform: translate(-50%, 0);
						}
					}
				}

				input {
					position: absolute;
					opacity: 0;
				}
			}

			&:last-child {
				margin-left: 10px;
			}

			&:nth-child(1) label {

				&::before {
					background-color: var(--dst--primary-color1);
				}

				&::after {
					content: 'Primary Color 1';
				}
			}

			&:nth-child(2) label {

				&::before {
					background-color: var(--dst--primary-color2);
				}

				&::after {
					content: 'Primary Color 2';
				}
			}

			&:nth-child(3) label {

				&::before {
					background-color: var(--dst--primary-color3);
				}

				&::after {
					content: 'Primary Color 3';
				}
			}

			&:nth-child(4) label {

				&::before {
					background-color: var(--dst--secondary-color1);
				}

				&::after {
					content: 'Secondary Color 1';
				}
			}

			&:nth-child(5) label {

				&::before {
					background-color: var(--dst--secondary-color2);
				}

				&::after {
					content: 'Secondary Color 2';
				}
			}

			&:nth-child(6) label {

				&::before {
					background-color: var(--dst--secondary-color3);
				}

				&::after {
					content: 'Secondary Color 3';
				}
			}
		}
	}

	.wp-color-result.button {

	}

	.wp-picker-active {

		.wp-color-result.button {

		}
	}
}

.wp-picker-holder {

}

.wp-picker-container {

	.wp-picker-holder {
		position: absolute;
		left: 0;
		top: 30px;
	}

	.iris-border {
		border-radius: var(--dst-admin-panel-radius);
		overflow: hidden;

		.iris-picker-inner {
			display: flex;
			bottom: 10px;
		}

		.iris-strip,
		.iris-square {
			height: 100% !important;
		}

		.iris-square {
			height: calc(100% - 30px) !important;
		}

		.iris-palette {
			border-radius: 50%;
		}
	}

	input[type="text"].wp-color-picker {
		width: 65px;
	}

}

