@use "../../_DS-core/mixins/include-media" as *;

/* Forms / Contact page */

.m-form {
	--columns-ratio: 50%;
	--form-max-width: 550px;
	--form-bg: #eee;
	--form-padding: 2rem;
	--form-radius: 15px;
	--form-col-gap: 5%;
}


.l-form {

	&__form {
		background-color: var(--form-bg);
		padding: var(--form-padding);
		border-radius: var(--form-radius);
		max-width: var(--form-max-width, 550px);
	}

	@include media("<=desktop") {

		&__col {
			margin-bottom: 2em;
		}

		&__form {
			margin: 0 auto;
		}
	}

	@include media(">desktop") {
		display: flex;
		justify-content: space-between;
		gap: var(--form-col-gap);

		&:not(.is-vertical) {

			.l-form__content {
				flex: 0 0 var(--columns-ratio);
			}

			.l-form__form {
				flex: 1 1 auto;
			}

			&.order-reverse {
				flex-direction: row-reverse;
			}
		}

		&.is-vertical {
			flex-direction: column;

			&.order-reverse {
				flex-direction: column-reverse;
			}
		}
	}

}

