@use "../../_DS-core/mixins/include-media" as *;

.content1 {

	&.--v1 {

		.c-block {
			--c-block__radius: 2rem;
			--c-block__text-size:16px;
			--c-block__line-height: 1.4;
			position: relative;
			overflow: hidden;
			border-radius: var(--c-block__radius);
			transition: all var(--dst--base-transition) ease-in-out;

			&::after {
				position: absolute;
				inset: 0;
				pointer-events: none;
				content: '';
				z-index: 1;
				border-radius: 20px;
				background: linear-gradient(180deg, rgba(34, 175, 92, 0.00) 24.08%, rgba(18, 106, 55, 0.32) 57.99%, rgba(2, 32, 15, 0.72) 99.64%);
			}

			&:hover {
				box-shadow: 0 0 2rem var(--dst--secondary-color2);

				.c-block{

					&__media{
						transform: scale(1.1);
					}
				}

			}

			&__body {
				position: absolute;
				z-index: 2;
				line-height: var(--c-block__line-height);
				bottom: 0;
				padding: 3.2rem;
			}

			&__link,
			&__media,
			&__title{
				transition: all var(--dst--base-transition) ease-in-out;
			}

			&__link-full{
				z-index: 3;
			}

			&__title {
				line-height: 1.2;
				font-size: 2.2rem;
				margin-bottom: 1.2rem;

				a{

					&:hover {
						color: var(--dst--secondary-color2);
					}
				}
			}

			.c-btn  {

				&.-link{

					.c-btn{

						&__ico{
							opacity: 0;
						}
					}

					&:hover{

						.c-btn{

							&__ico{
								opacity: 1;
							}
						}
					}
				}
			}

		}
	}
}

