@use "../_DS-core/components/core--c-btn";

.c-btn {

	&__ico {

	}

	&.-primary,
	&.-secondary {

		.c-btn__txt {

		}

		svg,
		img {
			transform: translateX(5px);
		}
	}

	&.-link {

	}

	&.-small {
		--dst--btn-padding-inline: 20px;
		--dst--btn-padding-block: 10px;

		.c-btn__txt {
			font-size: 0.8em;
		}

		.icon {
			max-width: 60%;
		}
	}

	&.-large {

		.c-btn__txt {
			font-size: 1.4em;
		}
	}

	@media (hover: hover) {

		&:hover {

			.c-btn__ico {
				transform: translateX(5px);

				&.icon-reversed {
					transform: translateX(-5px) scaleX(-1);
				}
			}
		}
	}

}

/* CF7 Submit Button */

.gform_button,
.gform-button {

	@extend .c-btn, .-primary;
	padding: var(--dst--btn-padding-block) var(--dst--btn-padding-inline);
	justify-content: center;
}
