@use "../_DS-core/mixins/include-media" as *;
@use "../_DS-core/components/core--dst-list" as *;

.c-list {

	&__items {
		list-style: none;
		margin-top: 1rem;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 1rem;
		width: 100%;
		padding: var(--list-padding, 5px);
	}

	&__label {
		font-weight: var(--list-font-weight, 500);
		font-size: var(--list-font-size, 2rem);
	}

	&__icon {
		flex: 0 0 var(--list-icon-size);
		max-width: var(--list-icon-size);
		object-fit: contain;
	}

}

.dst-list {
	--dst-list__border-color: var(--dst--border-color);
	--dst-list__border-width: 1px;
	--dst-list__border-type: solid;
	--dst-list__title-weight: 700;
	--dst-list__title-size: 2.4rem;
}
