/**
 ####################
 #   Module POSTS:
 ####################
 */


.l-posts {
	--l-block__col: 4;
	--c-block__radius: 20px;
	--c-block__title-clamp: 2;
	--c-block__text-size: 1.6rem;
	--c-block__text-clamp: 3;
	--c-media__height: 100%;
	--c-media__width: 100%;
	--c-media__ratio: 4 / 3;
	--c-media__fit: cover;

	.c-block {

		&__media {
			border-radius: var(--c-block__radius);
		}

		&__title {

		}

		&__description {

		}

		&__date {

		}
	}
}



