@use "../../mixins/include-media" as *;

@include media(">desktop") {

	.nav-main,
	.nav-secondary {

		&__links {
			display: flex;
			justify-content: flex-end;
			gap: var(--dst--header-gap-inline, 1vw);
			height: 100%;

			> .menu-item {
				position: relative;
				display: flex;
				align-items: center;

				> a:not(.c-btn),
				> .plain-menu-item {
					display: block;
					white-space: nowrap;
					color: var(--dst--header-link-color);
					transition: color var(--dst--transition), font-size var(--dst--transition);

					&:hover {
						color: var(--dst--header-link-color-active, var(--dst--primary-color2));
					}
				}
			}
		}

		.current-menu-item {

			> a,
			> .plain-menu-item {
				--dst--header-link-color: var(--dst--header-link-color-active);
			}
		}

		/* Simple Dropdown */

		.sub-menu {

			position: absolute;
			opacity: 0;
			top: calc(100% + var(--dst--dropdown-offset));
			transform: translate(-50%, -10px);
			left: 50%;
			text-align: left;
			pointer-events: none;
			padding: var(--dst--dropdown-padding);
			min-width: var(--dst--dropdown-width);
			background-color: var(--dst--dropdown-bg);
			box-shadow: var(--dst--dropdown-shadow);
			border-radius: var(--dst--dropdown-radius);
			z-index: 10;

			a:not(.c-btn),
			.plain-menu-item {
				color: var(--dst--dropdown-color);
				display: flex;
				width: 100%;
				align-items: center;
				line-height: 1.3;
				font-weight: var(--dst--dropdown-font-weight);
				font-size: var(--dst--dropdown-font-size);

				&:hover {
					color: var(--dst--dropdown-color-active);
				}
			}

			.menu-item {

				a:not(.c-btn),
				.plain-menu-item {
					padding-block: var(--dst--dropdown-link-vpadding, 5px);
				}
			}

			.sub-menu {
				top: -5px;
				left: calc(100% + var(--dst--dropdown-padding));
				transform: none !important;

				&::before {
					content: "";
					height: 100%;
					left: calc(var(--dst--dropdown-padding) * -1);
					width: var(--dst--dropdown-padding);
					top: 0;
					z-index: -1;
					display: block;
					position: absolute;
					border-width: 10px 10px 10px 0;
					border-color: transparent var(--dst--dropdown-bg) transparent transparent;
					right: 100%;
					transform: none;
				}
			}
		}

	}

}

