@use "../../mixins/include-media" as *;

.links-list {

	@include media(">desktop") {
		display: flex;
		align-items: center;

		&__item {
			white-space: nowrap;
			display: flex;
			align-items: center;

			.-left & {

				&:not(:last-child) {
					margin-right: 10px;
				}
			}

			.-right & {

				&:not(:first-child) {
					margin-left: 10px;
				}
			}
		}
	}

	&__btn {
		white-space: nowrap;
	}

	img,
	svg {
		margin: 0 5px;
		max-width: 20px;
	}
}
