.nav-main__btn {
	all: unset;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	aspect-ratio: 1;
	color: var(--burger-color);
	background-color: var(--burger-bg);
	cursor: pointer;
	text-align: center;
	transition: all 0.3s;
	z-index: 10;
	outline: none!important;

	&.-desktop {

		.is-sticky & {
			display: block;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.burger-icon {
	width: var(--burger-width);
	height: 20px;
	cursor: pointer;
	transition: box-shadow 0.4s ease;
	backface-visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	> span {
		position: relative;
		flex: none;
		width: 100%;
		height: var(--burger-segment-height);
		background: transparent;
		transition: all 0.4s ease;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: var(--burger-segment-radius);

		&::before,
		&::after {
			content: "";
			position: absolute;
			z-index: 1;
			left: 0;
			width: 100%;
			height: var(--burger-segment-height);
			border-radius: var(--burger-segment-radius);
			background: inherit;
			transition: all 0.4s ease;
			opacity: 0;
		}

		&::before {
			top: calc(var(--burger-segment-gap) * -1);
		}

		&::after {
			top: var(--burger-segment-gap);
		}
	}

	.icon-burger-icon{
		color: currentcolor;
		fill: currentcolor;
	}

	.is-active & {

		.icon-burger-icon{
			display: none;
		}

		> span {
			transform: rotate(135deg);
			background: currentcolor;

			&::before,
			&::after {
				top: 0;
				transform: rotate(90deg);
				width: 100%;
				opacity: 1;
			}

			&::after {
				opacity: 0;
			}
		}
	}
}
