.site-search {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	position: relative;
	height: var(--search-size);
	width: var(--search-size);

	.search-form,
	.woocommerce-product-search {
		display: none;
		position: relative;
	}

	button[type="submit"],
	.search-submit {
		right: 0;
		top: 0;
		position: absolute;
		height: 100%;
		aspect-ratio: 1;
		border: none;
		background: transparent;
		font-size: 0;

		&:focus {
			outline: none;
		}
	}

	.search-field {
		padding: 5px 10px;
		height: var(--search-height);
		min-width: var(--search-width);
		max-width: 0;
		background: #fff;
		border: none;
		margin: 0;
		border-radius: var(--search-radius);
		font-size: 16px;

		transform: translate(0, -100%);
		transition: opacity 0.2s, transform 0.2s;

		&:focus {
			outline: none;
		}
	}

	&__toggle {
		position: relative;
		right: var(--search-padding);
		top: 0;
		height: var(--search-size);
		width: var(--search-size);
		background-color: var(--search-btn-bg);
		border-radius: var(--search-btn-radius);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: flex;
		padding: 5px;
		border: none;
		z-index: 10;
		transition: transform 0.3s;

		.icon {
			height: 100%;
			width: 100%;
			margin: auto;
			fill: var(--search-btn-color);
			pointer-events: none;
		}

		&:hover {
			--dst--header-link-color: var(--dst--header-link-color-active);
		}
	}

}

/* Search Overlay */

.search-overlay {
	position: absolute;
	max-height: 0;
	max-width: calc(var(--search-width) + 20px);
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.2s, transform 0.2s;

	&.is-shown {
		transform: translateY(var(--search-top-offset));
		max-height: max-content;
		overflow: visible;
		background-color: var(--search-outer-bg);
		padding: var(--search-padding);
		border-radius: var(--search-radius) 0 var(--search-radius) var(--search-radius);
		border: 1px solid var(--search-outer-border);
		opacity: 1;
		z-index: 10;
		transition: opacity 0.2s, transform 0.2s;

		.search-form,
		.woocommerce-product-search {
			display: block;
		}

		.search-field {
			transform: translate(0);
			max-width: var(--search-width);
			width: auto;
		}

		+ .site-search__toggle {
			transform: translateY(var(--search-top-offset));
			pointer-events: none;
		}

		.search-overlay__close {
			display: flex;
		}
	}

	&__close {
		transform: translateY(-100%);
		top: 0;
		background: var(--search-outer-bg);
		border: 1px solid var(--search-outer-border);
		border-bottom: none;
		height: 36px;
		aspect-ratio: 1;
		border-radius: 0;
		position: absolute;
		right: -1px;
		display: none;
		align-items: center;
		justify-content: center;
		color: #fff;
		cursor: pointer;
		z-index: 1000;
	}

}
