@use "../_DS-core/mixins/include-media" as *;
@use "../_DS-core/layout/core--base";

:root {
	--dst--phone-width: 576px;
	--dst--tablet-width: 768px;
	--dst--desktop-width: 1112px;
	--dst--desktop-width-sm: 1024px;
	--dst--desktop-width-m: 1280px;
	--dst--desktop-width-l: 1440px;
	--dst--desktop-width-xl: 1640px;
	--dst--desktop-width-1920: 1920px;
	--dst--desktop-width-2k: 2200px;
	--dst--content-width: var(--dst--default-container-width, var(--dst--desktop-width-m)); // Default content width (1280)
	--dst--page-gutter: var(--dst--mobile-gutter, 15px);
	--dst--grid-gutter: 24px;
	--dst--vertical-gap: 6vmin;

	@include media("<=desktop") {
		--dst--vertical-gap: 20px;
		--dst--content-width: var(--dst--tablet-width);
	}

	@include media(">desktop", "<=desktop-m") {
		--dst--content-width: var(--dst--desktop-width-sm);
	}

  	@include media(">desktop-m", "<=desktop-l") {
		--dst--content-width: var(--dst--desktop-width-m);
	}

	@include media(">desktop") {
		--dst--page-gutter: var(--dst--desktop-gutter, 30px);
	}

	@include media(">desktop-2k") {
		--dst--content-width: var(--dst--desktop-width-xl);
	}

}

