@use "../_DS-core/mixins/include-media" as *;
@use "../_DS-core/layout/core--header";
@use "header/header_menu-desktop";
@use "header/header_menu-mobile";
@use "header/header_megamenu";
@use "header/header-simple";
// Text page, 404, search, blog post, etc
@use "header/header-search";
// Delete if no header search
@use "header/burger-desktop"; // Delete if no burger for desktop view

:root {
	--dst--top-offset: calc(var(--dst--header-height, 80px) + var(--dst--wc-notice-height, 0px) + var(--wp-admin--admin-bar--height, 0px));

	@include media('<=desktop') {
		--dst--header-height: var(--dst--header-height-mobile, 60px);
	}
}

.site-header {

	--dst--header-padding-block: 2.1rem;
	--dst--header-padding-block-sticky: 1rem;
	--dst--header-gap-inline: 1rem;
	--dst--header-link-color: var(--dst--header-main-color);
	--dst--header-link-color-active: var(--dst--primary-color2);
	--dst--header-logo-width: 100%;
	--dst--header-logo-height: 34px;
	--dst--header-logo-height-sticky: 40px;
	--menu-arrow-color: currentcolor;
	--social-icon-size: 2.4rem;

	@include media(">desktop", "<=desktop-1920") {
		--dst--content-width: var(--dst--desktop-width-l); // Container width for the header
	}

	&__logo {

		img,
		svg {

			max-width: 150px;
			max-height: var(--dst--header-logo-height);

			@include media(">desktop") {
				max-width: 250px;
				max-height: 34px;
			}
		}

		@include media("<=desktop") {
			padding: 10px var(--dst--page-gutter);
		}

		@include media(">desktop") {

			.is-sticky & {

				--dst--header-logo-height: var(--dst--header-logo-height-sticky);
				padding-block: 10px;
			}
		}
	}

	&__main {

		@include media(">desktop") {

		}
	}

	.links-list {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		@include media(">desktop") {
			gap: 2.5rem;
		}

		@include media("<=desktop") {
			margin-block: 2.5rem;
		}

		&__item {
			margin-inline: 0;

			@include media("<=phone-l") {
				width: calc(50% - .5rem);

			}

			&:not(:last-child) {
				margin-inline: 0;
			}

			a {
				color: var(--dst--base-text-color);
				font-size: 12px;

				&:hover {
					color: var(--dst--primary-color2);
				}
			}

			svg {
				color: transparent;
				fill: currentcolor;
			}
		}

		.c-btn {

			&__txt {
				padding-block: 0;
			}
		}
	}

	.social-list {

		svg {
			color: var(--social-icon-color, var(--dst--btn-primary-color));
			fill: var(--social-icon-color, var(--dst--btn-primary-color));
		}
	}

	.nav-secondary{
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		#menu-contact-menu{
			height: fit-content;

			> li{
				background-color: var(--dst--btn-primary-bg);
				border: var(--dst--btn-primary-border) solid var(--dst--btn-primary-border-color);
				color: var(--dst--btn-primary-color);
				padding: 0 var(--dst--btn-padding-inline, 20px);
				font-family: var(--dst--btn-font), sans-serif;
				font-size: var(--dst--btn-font-size, 1.8rem);
				text-transform: var(--dst--btn-text-transform, none);
				font-weight: var(--dst--btn-font-weight, 400);
				border-radius: var(--dst--btn-border-radius, 0);
				height: fit-content;

				> a:not(.c-btn),
				> .plain-menu-item {
					color: var(--dst--btn-primary-color);
					line-height: 1.2;
					padding-block: var(--dst--btn-padding-block, 10px);
				}

				@media (hover: hover) {

					&:hover {
						background-color: var(--dst--btn-primary-bg-hover);
						color: var(--dst--btn-primary-color-hover);
						border-color: var(--dst--btn-primary-border-color-hover);
						text-decoration: none;

						> a:not(.c-btn),
						> .plain-menu-item {
							color: var(--dst--btn-primary-color-hover);
						}
					}
				}
			}
		}
	}
}
