@use "../_DS-core/layout/core--wysiwyg";

.is-wysiwyg {
	--wysiwyg-margin: var(--dst--elements-margin, 1em);
	--wysiwyg-li-padding: 0 0 0 30px;
	--wysiwyg-li-bgp: 0 0.4em;
	--wysiwyg-li-margin: .5em;
	--wysiwyg-li-fallback: "\2022";

	a:not(.c-btn) {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.simple-page {
	padding-top: 5vmin;
}
