.wp-block-ds-blocks-c-btn {

    // Modify icon picker border and z-index
    .dst-icon-picker {
        border: none;
        position: relative;
        z-index: 2;
    }

    // Make icon picker icon clickable
    .c-btn__txt {
        position: relative;
        z-index: 1;
    }

    &.is-selected:not(.-editor-icon-type-default) {

        .c-btn__ico {
            pointer-events: all !important;
            cursor: pointer;

            svg,
            img {
                pointer-events: all !important;
            }
        }
    }

    &__popup {

        /**
        * Change block appender appearance.
        * We need to nest it in multiple selectors in order to override the default styles.
        */
        .dimbox-inline-content {

            > .block-list-appender {
                width: 100%;
                bottom: 0;
                position: relative;
    
                > .block-editor-default-block-appender {
    
                    > .block-editor-inserter {
                        width: 100%;
    
                        > button.components-button.has-icon {
                            width: 100% !important;
                            height: auto !important;
                            display: flex !important;
                            gap: 0.25rem;
                            padding: 0.5rem 1.25rem 0.5rem 1rem !important;
                            background-color: #1e1e1e !important;
    
                            &::after {
                                content: 'Add Popup Content';
                                white-space: nowrap;
                            }
    
                            &:hover {
                                background-color: #007cba !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.block-editor-block-popover {
    z-index: 99999999 !important
}


// Copy dimbox styles from _c-popup.scss

.dimbox-container {
    --dst--popup-background: var(--dst--primary-color1);
    --dst--popup-width: 860px;
	--dst--popup-padding: 20px 35px 20px 20px;
	--dst--popup-close-size: 34px;
	--dst--popup-close-bg: var(--dst--primary-color1);
	--dst--popup-close-color: var(--dst--primary-color1);
    --outline-size: max(2px, 0.08em);
    --outline-style: solid;
    --outline-color: currentcolor;

    *:active,
    *:focus,
    *:focus-visible {
        outline: none;
    }

    &::before {
        background: var(--dst--popup-background);
    }
}

.dimbox-content,
.dimbox-ajax-content,
.dimbox-inline-content {
	max-width: var(--dst--popup-width);
}

.dimbox-content {
    display: flex;

	.dimbox-buttons {
		right: 0;
		top: 0;
	}

	.dimbox-btn-close {
		margin: 0;
		opacity: 1;
		height: var(--dst--popup-close-size);
		width: var(--dst--popup-close-size);

		svg {
			vertical-align: top;
		}
	}
}

.dimbox-buttons,
.dimbox-btn-prev,
.dimbox-btn-next {

    *:active,
    *:focus,
    *:focus-visible {
        outline: var(--outline-size) var(--outline-style) var(--outline-color);
        outline-offset: var(--outline-offset, var(--outline-size));
    }
}

.dimbox-ajax-content,
.dimbox-inline-content {
	padding: var(--dst--popup-padding, 15px);
}

.dimbox-btn-close {
	background-color: var(--dst--popup-close-bg, transparent);

	svg {
		color: var(--dst--popup-close-color, #fff);
	}
}

.dimbox-video-container {
    display: inline-flex;
    width: auto;
}

/* CUSTOM DIMBOX STYLES */
.dimbox-inline-content,
.dimbox-content {
    min-width: 300px;
    min-height: 150px;
}

.dimbox-btn-close,
.dimbox-buttons,
.dimbox-content,
.dimbox-inline-content {
    outline: none !important;
}

.dimbox-btn-close,
.dimbox-buttons {
    z-index: 10;
}