#poststuff div[data-type="demo_content_settings"] {
	z-index: 0;

	.c-wysiwyg-preview {

		min-height: 700px;
		color: var(--dst--base-text-color);
		font-family: var(--dst--base-font);
		font-size: var(--dst--base-text-size);
		line-height: var(--dst--base-text-line-height);
		font-weight: var(--dst--base-text-font-weight);

		section {
			padding: 15px;
			position: relative;
			overflow: hidden;

			> div {
				position: relative;
				z-index: 2;
			}

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				background-color: var(--dst--body-bg);
			}

			&.is-style-colors-inverted {
				color: var(--dst--base-text-color-alt);
				--dst--base-link-color: var(--dst--base-link-color-alt);

				&::before {
					filter: invert(1);
				}
			}
		}

		p {
			font-size: inherit;
			line-height: inherit;
			font-weight: inherit;
		}

		h1,
		h2,
		h3,
		h4,
		h5 {
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
			padding: 0;
			margin: 0;
		}

		p,
		ul,
		ol,
		table,
		img,
		blockquote,
		video,
		iframe,
		.wp-block-gallery {

			&:not(:last-child) {
				margin-top: 0;
				margin-bottom: var(--wysiwyg-margin);
			}
		}

		.small-text {
			font-size: var(--dst--smaller-text-size);
		}

		.large-text {
			font-size: var(--dst--larger-text-size);
		}
	}
}

div[data-name="theme_content_settings"] {

	> .acf-input {
		position: sticky;
		top: 100px;
		z-index: 2;
	}

	.acf-accordion-content .acf-fields {

		.acf-field-select,
		.acf-field-color-picker {
			display: block;
		}
	}

	div[data-name="list_item_style"] {

		.acf-image-uploader .image-wrap img[src$=".svg"] {
			min-height: 30px;
			min-width: 30px;
		}
	}

	&[data-name="h1_title_placeholder"],
	&[data-name="h2_title_placeholder"],
	&[data-name="h3_title_placeholder"],
	&[data-name="h4_title_placeholder"],
	&[data-name="base_text_title_placeholder"],
	&[data-name="larger_text_title_placeholder"],
	&[data-name="smaller_text_title_placeholder"],
	&[data-name="blog_text_title_placeholder"],
	div[data-type="group"] {

		background: #eee;
		padding-block: 3px !important;

		.acf-label {
			margin: 0;
			font-size: 15px;

			label {
				font-weight: 600;
			}
		}
	}
}

