@use "../widgets/mixins";

/* Theme Settings - Module Settings */
[data-name="theme_allowed_modules_old"],
[data-name="theme_allowed_modules"] {

	.acf-checkbox-list {
		display: grid;
		grid-template: auto / repeat(5, minmax(0, 1fr));
		gap: 10px;

		&::before {
			display: none;
		}

		> li {
			border: 1px solid var(--dst-admin-panel-border-color);
			display: flex;
			justify-content: center;
			border-radius: var(--dst-admin-panel-radius);
		}

		input[type="checkbox"] {
			display: none;
		}

		label {
			position: relative;
			cursor: pointer;
			padding: 5px 10px 5px 60px;
			display: flex;
			align-items: center;
			text-align: left;
			justify-content: flex-start;
			transition: color-mix .3s;
			line-height: 1.2;
			width: 100%;
			word-break: break-word;
			user-select: none;
			min-height: 45px;

			&::before {
				content: "";
				position: absolute;
				left: 10px;
				width: 40px;
				height: 20px;
				background: #ccc;
				border-radius: 20px;
				transition: background 0.3s;
			}

			&::after {
				content: "";
				position: absolute;
				left: 12px;
				top: 50%;
				transform: translateY(-50%);
				width: 14px;
				height: 14px;
				background: #fff;
				border-radius: 50%;
				transition: transform 0.3s;
			}
		}

		label.selected {
			background: color-mix(in srgb, var(--dst-admin-accent-color), transparent 85%);
			transition: color-mix .3s;
			font-weight: 700;

			&::before {
				background: var(--dst-admin-accent-color); /* Active color */
				transition: background 0.3s ease-in-out;
			}

			&::after {
				transform: translate(20px, -50%);
				transition: transform 0.3s ease-in-out;
			}
		}
	}
}
