.editor-sidebar__panel {

	[data-name="text_component_settings"] .acf-accordion-content .acf-fields > .acf-field[data-type="group"] {

		display: block;

		> .acf-label {
			display: block;
			width: 100%;
			background-color: color-mix(in srgb, var(--dst-admin-panel-accordion-bgd) 96%, #000);
			padding-inline: 5px;
		}

		.acf-fields {
			display: flex;
			gap: 10px;
			border: none;

			> .acf-field {
				padding-inline: 0;
				display: block;
				border: none;

				> .acf-label label {
					margin: 0;
				}
			}

			.acf-range-wrap {
				display: flex;

				input[type="range"] {
					max-width: 100px;
				}
			}

			.acf-append {
				position: absolute;
				right: 25px;
			}
		}
	}

	[data-name="media_ratio"],
	[data-name="media_ratio_mobile"] {

		.acf-button-group {
			flex-wrap: nowrap;

			label {
				padding-inline: 5px;
			}
		}
	}

	[data-name="focal_point"] {

		.acf-button-group {
			display: flex;
			flex-wrap: wrap;
			max-height: 80px;
			aspect-ratio: var(--focal-ratio, none);

			> label {
				width: calc(95% / 3);
				min-width: calc(95% / 3);
				margin: 0 !important;
				padding: 0 !important;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	[data-name="media_component_settings"] {

		&:has([data-name="media_ratio"] .selected [value="none"]),
		&:has([data-name="media_ratio"] .selected [value="1x1"]) {
			--focal-ratio: 1;
		}

		&:has([data-name="media_ratio"] .selected [value="4x3"]) {
			--focal-ratio: 4 / 3;
		}

		&:has([data-name="media_ratio"] .selected [value="3x4"])  {
			--focal-ratio: 3 / 4;
		}

		&:has([data-name="media_ratio"] .selected [value="16x9"]) {
			--focal-ratio: 16 / 9;
		}
	}

}
