::-webkit-scrollbar {
	height: 10px;
	background: #e8e9ed;
}

::-webkit-scrollbar-track {
	background: rgba(var(--dst--primary-color2), 0.9);
}

::-webkit-scrollbar-thumb {
	background: var(--dst--primary-color1);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--dst--primary-color2);
}

::-webkit-scrollbar-thumb:active {
	background: var(--dst--primary-color2);
}

::-webkit-scrollbar-corner {
	background: #e8e9ed;
}

a, h2, h3, h4 {

	&[id] {
		scroll-margin-top: var(--dst--top-offset);
	}
}

html {
	scrollbar-gutter: stable;

	&.dimbox-noscroll {

		padding-right: 0 !important;
	}
}
