@use "../mixins/include-media" as *;

:root {
	--dst--base-transition: 0.3s; // default transition for hovers
  	--dst-offset:calc((100vw - (var(--dst--content-width) + var(--dst--page-gutter, 20px) * 2)) / 2);
}

body,
html {
	height: 100%;
	min-height: 100%;
}

body {
	line-height: var(--dst--base-text-line-height, 1);
	font-weight: var(--dst--base-text-font-weight, 400);
	font-family: var(--dst--font-primary);
	font-size: var(--dst--base-text-size);

	color: var(--dst--base-text-color);
	background-color: var(--dst--body-bg);

}

a {
	color: var(--dst--base-link-color);

}

.is-style-colors-inverted {
	--dst--base-text-color: var(--dst--base-text-color-alt);
	--dst--base-heading-color: var(--dst--base-heading-color-alt);
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	&.-has-global-img {
		position: relative;
		min-height: 100vh;
		background-image: var(--global-bg-url);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}

}

.site-content {
	flex-grow: 1;
	min-height: 400px;
	//padding-top: var(--top-offset);
}

.site-header,
.site-content,
.site-footer {
	flex-shrink: 0;
}

.container,
.container-fluid,
.container-wide,
.container-custom {
	margin-inline: auto;
	width: 100%;
	padding-inline: var(--dst--page-gutter);
	transition: max-width var(--dst--transition), padding var(--dst--transition);
}

.container {
	max-width: calc(var(--dst--content-width) + var(--dst--page-gutter, 20px) * 2);

	.no-side-padding > &,
	&.no-side-padding {
		padding-inline: 0;
		max-width: var(--dst--content-width);
	}
}

.container-wide {
	max-width: calc(var(--dst--wide-container-width) + var(--dst--page-gutter, 20px) * 2);

	.no-side-padding > &,
	&.no-side-padding {
		padding-inline: 0;
		max-width: var(--dst--wide-container-width);
	}

	@include media("<desktop") {
		--dst--wide-container-width: 100%;
	}
}

.container-custom {
  	max-width: calc(var(--dst--content-width) + var(--dst--page-gutter, 20px) * 2);

	@include media(">desktop") {
		max-width: var(--l-container-width, var(--dst--content-width));
	}

	.no-side-padding > &,
	&.no-side-padding {
		padding-inline: 0;

		@include media(">desktop") {
			max-width: var(--l-container-width);
		}
	}
}

.container-fluid {

	&.no-side-padding {
		padding-inline: 0;
	}
}

.container-left {
	margin-left: 0;
}

.container-right {
	margin-right: 0;
}

@include media("<=desktop") {

	.gt,
	.gt-s,
	.gt-l {
		padding-top: var(--dst--mobile-vertical-gap);
	}

	.gb,
	.gb-s,
	.gb-l {
		padding-bottom: var(--dst--mobile-vertical-gap);
	}

	.mt,
	.mt-custom {
		margin-top: var(--dst--mobile-vertical-gap);
	}

	.mb,
	.mb-custom {
		margin-bottom: var(--dst--mobile-vertical-gap);
	}
}

@include media(">desktop", "<=desktop-1920") {

	.gt {
		padding-top: var(--dst--desktop-vertical-gap, var(--dst--vertical-gap));
	}

	.gb {
		padding-bottom: var(--dst--desktop-vertical-gap, var(--dst--vertical-gap));
	}

	.gt-s {
		padding-top: calc(var(--dst--desktop-vertical-gap) / 2);
	}

	.gt-custom {
		padding-top: var(--gt-custom);
	}

	.gb-s {
		padding-bottom: calc(var(--dst--desktop-vertical-gap) / 2);
	}

	.gt-l {
		padding-top: calc(var(--dst--desktop-vertical-gap) * 1.5);
	}

	.gb-l {
		padding-bottom: calc(var(--dst--desktop-vertical-gap) * 1.5);
	}

	.gb-custom {
		padding-bottom: var(--gb-custom);
	}

	.mt {
		margin-top: var(--dst--desktop-vertical-gap, var(--dst--vertical-gap));
	}

	.mb {
		margin-bottom: var(--dst--desktop-vertical-gap, var(--dst--vertical-gap));
	}

	.mt-custom {
		margin-top: var(--margin-top);
	}

	.mb-custom {
		margin-bottom: var(--margin-bottom);
	}
}

@include media(">desktop-1920") {

	:root {
		--desktop-vertical-gap: 100px;
	}

	.gt-s {
		padding-top: calc(var(--dst--desktop-vertical-gap) / 2);
	}

	.gb-s {
		padding-bottom: calc(var(--dst--desktop-vertical-gap) / 2);
	}

	.gt,
	.gt-l {
		padding-top: var(--dst--desktop-vertical-gap);
	}

	.gb,
	.gb-l {
		padding-bottom: var(--dst--desktop-vertical-gap);
	}

	.mt,
	.mt-custom {
		margin-top: var(--dst--desktop-vertical-gap);
	}

	.mb,
	.mb-custom {
		margin-bottom: var(--dst--desktop-vertical-gap);
	}
}
