@use "../mixins/include-media" as *;

.site-footer {
	position: relative;
	background-color: var(--dst--footer-bg);
}

.l-footer {
	border-top: var(--dst--footer-border-top-size) solid var(--dst--footer-border-top);
	color: var(--dst--footer-color);
	padding-bottom: calc(env(safe-area-inset-bottom) + 0px); // fix for iOS devices
	overflow: hidden;
	position: relative;
	z-index: 2;

	a {
		color: var(--dst--footer-links-color, var(--dst--footer-color));

		&:hover {
			text-decoration: underline;
		}

		@include media("<=desktop") {
			text-decoration: underline;
		}
	}

	.social-list {
		gap: var(--dst--footer-nav-gap-inline, 1vw);
	}

	/* Footer Media */

	&__media {
		position: absolute;
		inset: 0;
		pointer-events: none;
		overflow: hidden;

		img,
		video {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__video {
		height: 100%;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background-color: rgba(0 0 0 / 0.6);
		}
	}

}

/* Footer Top Row */

.footer-top {
	padding-block: var(--dst--footer-padding-top, 20px);
	font-size: var(--dst--footer-top-font-size);

	&__col {

		@include media("<=tablet") {

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	&__menus {

		@include media(">desktop") {
			display: flex;
			justify-content: flex-end;
		}
	}
}

/* Footer Bottom Row */

.footer-bottom {
	padding-block: var(--dst--footer-bottom-padding, 10px);
	font-size: var(--dst--footer-bottom-font-size);
	background-color: var(--dst--footer-bg-color-bottom);

	&__inner {

		@include media(">tablet") {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}

/* Small components */

.footer-title {
	font-weight: var(--dst--footer-title-weight);
	font-size: var(--dst--footer-title-size);
	text-transform: var(--dst--footer-title-transform);
}

.footer-logo {

	height: var(--dst--footer-logo-height);
	width: var(--dst--footer-logo-width);

	@include media("<=desktop") {
		min-height: 25px;
		max-height: 80px;
	}

}

/* For Images with Global Bg Image */
.wrapper {

	&.-has-global-img {

		.site-footer {
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--dst--footer-bg) 25%, var(--dst--footer-bg) 100%);
			background-color: unset;
		}
	}
}
