@use "../mixins/include-media" as *;
@use "header/core--header_menu";
@use "header/core--navbar-burger";
@use "header/core--links-list";

.site-header {
	width: 100%;
	top: 0;
	left: 0;
	color: var(--dst--header-link-color);
	transition: transform var(--dst--transition), background-color var(--dst--transition);
	z-index: 99;

  &.scrolling-down, &.scrolling-up{

	@include media(">desktop") {
	  background-color: var(--dst--header-sticky-bg, #fff);
	}
  }

	@include media("<=desktop") {
		max-height: var(--dst--header-height, 60px);
		position: sticky;
	}

	@include media(">desktop") {
		position: var(--dst--header-sticky-type, sticky);

		.admin-bar & {
			top: var(--wp-admin--admin-bar--height, 0)
		}
	}

	&__logo {
		display: flex;
		align-items: center;

		@include media("<=desktop") {
			margin-right: auto;
		}

		@include media(">desktop") {
			transition: all var(--dst--transition);
			max-width: 100%;
			max-height: 150px;
			padding-block: var(--dst--header-padding-block);
		}

		img,
		svg {
			min-width: 60px;
			color: currentcolor;
			width: var(--dst--header-logo-width);
			height: var(--dst--header-logo-height);
			object-fit: contain;
			object-position: left center;

			@include media(">desktop") {
				transition: all var(--dst--transition);
			}
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		transition: all var(--dst--transition);

		@include media("<=desktop") {
			flex-direction: column;
		}
	}

	&__col {
		display: flex;
		gap: var(--dst--header-gap-inline, 1vw);
		transition: padding var(--dst--transition);

		a.right,
		a.left {

			img {
				max-height: 30px;
			}
		}

		@include media("<=desktop") {
			flex-direction: column;
			width: 100%;
		}

		@include media(">desktop") {

			&.-left {
				justify-content: flex-start;
			}

			&.-center {
				justify-content: center;
				text-align: center;
			}

			&.-right {
				justify-content: flex-end;
			}
		}
	}

	&__widget {
		display: contents;

		.c-block__btn {
			display: flex;
			align-items: center;
			margin: 0;
			gap: var(--dst--header-gap-inline);
		}
	}

	.social-list {
		gap: var(--dst--header-gap-inline);
	}

	&__separator {
		height: 1em;
		width: 1px;
		background: currentcolor;
	}

	&.is-sticky {

		@include media('<=desktop') {
			--wp-admin--admin-bar--height: 0;
		}

		&__logo {

			@include media(">desktop") {
				padding-block:calc( var(--dst--header-padding-block-sticky,1rem));
			}
		}
	}
}

/* Header Main Row */

.site-header__main {
	--dst--header-link-color: var(--dst--header-main-color);
	--dst--header-gap-inline: var(--dst--header-main-items-gap);
	font-weight: var(--dst--header-main-font-weight, 700);
	text-transform: var(--dst--header-main-text-transform, uppercase);
	font-size: var(--dst--header-main-font-size, 16px);
	background-color: var(--dst--header-main-bg);
	transition: all var(--dst--transition) ease-in-out;

	.site-header__row {
		justify-content: space-between;
	}

	@include media(">desktop") {

		.is-sticky & {
			background-color: var(--dst--header-sticky-bg, #fff);
		}
	}
}

/* Header Top Row */

.site-header__top {
	--dst--header-link-color: var(--dst--header-top-color);

	background-color: var(--dst--header-top-bg);
	font-size: var(--dst--smaller-text-size);
	color: var(--dst--header-top-color);

	.container {
		justify-content: space-between;
	}

	@include media(">desktop") {

		.is-sticky & {

			.site-header__row {
				max-height: 0;
				overflow: hidden;
				padding: 0;
			}
		}
	}
}

/* Header Bottom Row */

.site-header__bottom {
	--dst--header-link-color: var(--dst--header-bottom-color);

	color: var(--dst--header-bottom-color);
	background-color: var(--dst--header-bottom-bg);
	transition: opacity 0.3s, transform 0.3s;
	position: relative;
	width: 100%;

	.container {
		justify-content: center;
	}

	@include media(">desktop") {

		.is-sticky {
			opacity: 0;
			transform: translateY(-100px);
			position: absolute;
			z-index: -1;
		}
	}
}

.site-header__top,
.site-header__bottom,
.site-header__main,
.nav-main__btn.-desktop {

	@include media("<=desktop") {
		display: none;
	}
}

@include media(">desktop") {

	.nav-main__btn,
	.navbar-mobile {
		display: none;

		&:has(.js-d-burger-toggle) {
			display: block;

			.site-header__widget {
				display: none;
			}
		}
	}


}

