@keyframes grid-appear {

	0% {
		opacity: 0;
		transform: scale(0.3);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}


@keyframes fade-appear {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-left {

	0% {
		opacity: 0;
		transform: translate3d(100px, 0, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slide-appear {

	0% {
		transform: translateY(200px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes fade-translate {

	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-translate-reverse {

	0% {
		opacity: 0;
		transform: translateY(-30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-translate-vertical {

	0% {
		opacity: 0;
		transform: translateY(60px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-scale {

	0% {
		opacity: 0;
		transform: scale(0.2);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes overlay-appear {

	100% {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}
