@use "../../../mixins/include-media" as *;

.slider-logos {

	--c-media__width: auto;

    .m-slide {
        margin: auto;

        &__link,
        .c-popup-link {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }
    }

    .m-slider__slide {
        text-align: center;
        display: flex;

        @include media("<=tablet") {
            width: 80px;
        }

        &.is-greyscale {
            filter: grayscale(1);
            transition: filter var(--dst--transition);

            &:hover {
                filter: grayscale(0);
            }
        }

        .acf-block-preview & {
            width: auto;
            min-width: 150px;
            text-align: center;
        }
    }

    .c-media__src {
        max-width: 75px;
        min-height: 15px;
        max-height: 150px;

        @include media(">tablet") {
            max-width: 90%;
        }
    }

	.m-slider__pagination {
		position: absolute;
		bottom: -10px;
	}

	.m-slider__controls {
		padding: 0;
	}
}
