@use "../../_DS-core/mixins/include-media" as *;

/**
 ####################
 #   Module COUNTERS:
 ####################
 */

.c-counter {

	&.is-horizontal {

		.c-block {
			display: flex;
			align-items: center;

			&__body {
				text-align: left;
			}
		}

	}

	&.is-vertical {

	}

	&.has-border {

		@include media(">tablet") {

			&:not(:first-child) {
				border-left: var(--c-block-border-width, 1px) solid var(--c-block-border-color, #d1d1d1);
			}
		}
	}

	&__num {
		white-space: nowrap;
		font-size: var(--counter-num-size);
		font-weight: var(--counter-num-weight);
		line-height: var(--counter-num-lh);
	}

	&__symbol {
		font-size: var(--counter-symbol-size);
	}

	&__title {
		font-size: var(--counter-title-size);
		font-weight: var(--counter-title-weight);
	}

	&__description {
		font-size: var(--counter-font-size);
		font-weight: var(--counter-font-weight);
	}

	&__img {
		position: relative;
		width: 100%;
		max-width: 100%;
		height: auto;

		&--rounded {

			img {
				border-radius: 50%;
			}
		}
	}
}
