@use "../../_DS-core/mixins/include-media" as *;

/**
 ############################
 #   MODULE: Accordions
 ############################
 */

.l-accordion {
	display: flex;
	width: 100%;
	gap: var(--columns-gap);

	@include media("<=tablet") {
		flex-direction: column-reverse;
	}

	&.order-reverse {

		@include media(">tablet") {
			flex-direction: row-reverse;
		}
	}

	&__content {
		flex: 1 1 auto;

		.c-block__btn {
			margin-top: 1em;
		}
	}

	&__media {

		@include media("<=tablet") {
			margin: 1em 0;
		}

		@include media(">tablet") {
			display: flex;
			flex: 0 0 var(--columns-ratio);
			max-width: var(--columns-ratio);
		}
	}

	&__imgs {
		display: none;

		&.is-active {
			display: block;
		}

	}

	&[data-animation="css"] {

		.c-accordion__content {
			display: none;
			transform: scale(0);
			opacity: 0;
			transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
		}

		.is-active {

			.c-accordion__content {
				display: block;
				transform: scale(1);
				opacity: 1;
				animation: acc-anim 0.3s ease-in-out;
			}
		}
	}
}

.c-accordion {
	display: flex;
	flex-direction: column;
	width: 100%;

	&__title {

		padding: var(--c-block-gt) var(--c-block-gr) var(--c-block-gb) var(--c-block-gl);
		font-size: var(--acc-title-size);
		font-weight: var(--acc-title-weight);
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		border: none;
		text-align: left;
		color: var(--c-block__title-color);
		background-color: var(--c-block-title-bg-color);
		transition: color var(--dst--transition), background-color var(--dst--transition);

		&:focus {
			outline: none;
		}

		&:focus-visible {
			outline: 2px solid var(--outline-color);
			outline-offset: 1px;
		}

		@include media("<=tablet") {
			padding: 10px;
		}

		&-wrap {
			margin: 0;

			.is-active & {
				--c-block-title-bg-color: var(--c-block-text-bg-color);
			}
		}
	}

	&__icon {
		width: var(--acc-icon-width);
		margin-right: 10px;
		object-fit: cover;
	}

	&__content {
		background-color: var(--c-block-text-bg-color);
		color: var(--c-block-text-color);
		padding: 0 var(--c-block-gr) var(--c-block-gb) var(--c-block-gl);
		transition: all 0.3s;

		@include media("<=tablet") {
			padding: 10px;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	&__item {
		margin-bottom: var(--acc-item-space);
		border-bottom: 1px solid var(--c-block-border-color);
	}

	&__media {

		&:has(.media-justify-bottom) {
			align-self: flex-end;
		}

		&:has(.media-justify-center) {
			align-self: center;
		}

		&:has(.media-justify-top) {
			align-self: flex-start;
		}
	}
}

@keyframes acc-anim {

	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
