@use "../../_DS-core/mixins/include-media" as *;

/**
 ################
 #   Module BANNERS: Core
 ################
 */

.m-banner {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	&__container {
		position: relative;
		min-height: var(--bannerHeight, auto);
		display: flex;

		@include media("<=desktop") {
			--bannerHeight: var(--bannerHeightMobile, auto);

			overflow: hidden;

			.m-banner__inner {
				height: 100%;
				align-self: center;
			}
		}
	}

	&__inner {
		display: flex;
		width: 100%;

		@include media(">desktop") {
			min-height: 100%;

			&.flex-center {

				.l-banner {
					justify-content: center;
				}

				.c-block__btn {
					text-align: center;
				}
			}

			&.flex-right {

				.l-banner {
					justify-content: flex-end;
				}
			}

			.has-header-height & {
				padding-top: var(--dst--top-offset);
			}
		}

	}

	&__media {
		position: absolute;
		inset: 0;

		.container-fluid & {
			inset: 0;
		}

		@include media(">tablet") {

			&.bg-r-50 {
				width: 50%;
				left: auto;

				img {
					background-size: contain;
				}
			}

			&.bg-l-50 {
				width: 50%;
				right: auto;

				img {
					background-size: contain;
				}
			}
		}

		img,
		video,
		iframe {
			position: absolute;
			height: 100%;
			width: 100%;
		}

		video {
			--c-media__fit: cover;
		}

		&.c-media__embed {
			z-index: 10;
		}
	}

	.fixed-header.single-product & {
		max-height: 200px;
		overflow: hidden;
		margin-bottom: 30px;
	}

	@include media(">desktop") {

		&--small {
			--bannerHeight: var(--banner-height--small, 300px);
		}

		&--medium {
			--bannerHeight: var(--banner-height--medium, 450px);
		}

		&--full {

			.m-banner__container {
				--bannerHeight: calc(var(--banner-height--full, 100vh) - var(--dst--header-height, 60px) - var(--wp-admin--admin-bar--height, 0px));
				min-height: min(var(--bannerHeight, auto), 1000px);

				.static-header &,
				[data-sticky="fixed"] & {
					--bannerHeight: calc(var(--banner-height--full, 100vh) - var(--wp-admin--admin-bar--height, 0px));
				}
			}
		}

		&--custom {

			.m-banner__container {
				--bannerHeight: var(--bannerHeightDesktop, 75vh);
			}
		}
	}

}

/** Banner Layout */

.l-banner {
	--columns-txt-ratio: calc(var(--columns-ratio) - var(--columns-gap, 2%));
	--columns-img-ratio: calc(100% - var(--columns-ratio));

	display: flex;
	gap: var(--columns-gap, 2%);
	flex-direction: row;
	width: 100%;
	position: relative;
	z-index: 2;

	@include media("<=tablet") {

		flex-direction: column;
	}

	&__media {
		display: flex;
		justify-content: center;
		align-items: center;

		@include media(">desktop") {
			flex: 0 0 var(--columns-img-ratio);
			max-width: var(--columns-img-ratio);
		}

		.c-media {
			height: 100%;
			width: 100%;
		}
	}

	&__text {
		position: relative;
		color: var(--dst--base-text-color);
		align-self: var(--content-align-Y, center);

		@include media("<=desktop") {
			justify-content: center;
		}

		@include media(">desktop") {
			flex: 0 0 var(--columns-txt-ratio);
			max-width: var(--columns-txt-ratio);

			.is-vertical & {
				flex: auto;
			}
		}

		.c-block__body {
			width: 100%;
		}

		.c-block__btn {
			margin-top: 2rem;
		}
	}

	&__inner {

		&.text-center + .c-block__btn {
			text-align: center; // temp fix
		}
	}

	&.space-top,
	&.space-top-custom {
		padding-top: var(--padding-top, 5%);
	}

	&.space-bottom,
	&.space-bottom-custom {
		padding-bottom: var(--padding-bottom, 5%);
	}

	.order-reverse & {
		flex-direction: row-reverse;
	}

	.is-vertical & {
		flex-direction: column;
		align-items: center;
	}

	.is-vertical.order-reverse & {
		flex-direction: column-reverse;
	}
}
