@use "../../_DS-core/mixins/include-media" as *;

// Content 1: Repeated Content Blocks (rcbl-), Core Structure

.m-rcbl {

	.l-heading {
		margin-bottom: var(--c-heading__margin-bottom, 20px);

		&:not(:has(>div)) {
			display: none;
		}
	}
}

/* rcbl layout and columns*/

.l-rcbl {

	.is-style-colors-inverted &,
	.media-bg {
		--dst--base-heading-color: var(--dst--base-text-color-alt);
		--c-block__color: var(--dst--base-text-color-alt);
		--c-block__title-color: var(--dst--base-text-color-alt);
	}

	@include media(">tablet") {

		&,
		[data-container="ajax-result"] {
			display: grid;
			grid-template: auto / repeat(var(--l-block__col, 4), minmax(0, 1fr)); // columns are always with equal width
			row-gap: var(--l-block__padding-block);
			column-gap: var(--l-block__padding-inline);
		}

		.js-ajax-block {
			grid-column: 1/-1;
		}
	}

	&__col {

		@include media("<=tablet") {
			margin-bottom: 20px;
		}

		@include media("<=desktop") {
			--l-block__gap: 15px;
		}

		/* rcbl item components */

		.c-block {
			position: relative;
			min-height: 100%;

			&__media {
				overflow: hidden;
			}
		}

		.c-media {
			height: 100%;
			width: 100%;
		}

		.media-contain {

			.c-media__src {
				border-radius: var(--c-block__radius, 0);
			}

			&.align-top {
				--c-media__align: flex-start;
			}

			&.align-bottom {
				--c-media__align: flex-end;
			}

			&.text-left.is-vertical {  // experimental
				--c-media__justify: flex-start;
			}
		}

		.media-cover {
			border-radius: var(--c-block__radius, 0);
			overflow: hidden;
		}

		/* Image as Background */

		.media-bg {
			--c-media__fit: cover;
			--c-media__height: 100%;
			--c-media__width: 100%;

			position: relative;
			overflow: hidden;
			background: none;

			.c-block {

				&__body {
					position: absolute;
					left: 0;
					width: 100%;
					background: none;
					z-index: 2;
				}

				&__media {

					&::before {
						content: '';
						position: absolute;
						inset: 0;
						z-index: 1;
						background: linear-gradient(to var(--gradient-direction, bottom), rgba(0, 0, 0, 0) 0, color-mix(in srgb, var(--c-block__bg, #000), transparent var(--c-block__bg-opacity, 20%)) 100%);
						pointer-events: none;
					}
				}

			}

			&.align-top {

				--gradient-direction: top;

				.c-block__body {
					top: 0;
				}
			}

			&.align-bottom {

				--c-media__align: flex-end;

				.c-block__body {
					bottom: 0;
				}
			}

			&.align-center {

				.c-block__media {

					&::before {
						background: color-mix(in srgb, var(--c-block__bg, #000), transparent var(--c-block__bg-opacity, 40%));
					}
				}

				.c-block__body {
					inset: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
			}
		}

		/* Horizontal c-block direction */

		.is-horizontal {

			@include media(">tablet") {
				display: flex;

				.c-block__media {
					flex: min(var(--c-media__col-width, 30%), 100%) 0 0;
				}
			}
		}
	}

}

