@use "../../_DS-core/mixins/include-media" as *;

.l-testimonials-v2 {

	--c-block__bg: #eee;

	.l-testimonials__media {
		display: flex;
		justify-content: center;
		align-items: center;

		@include media("<=tablet") {

			.c-media__primary {
				position: absolute;
				top: 0;
			}

			.c-media {

				height: 100%;
				width: 100%;
				aspect-ratio: 4 / 3;
			}
		}

		@include media(">desktop") {
			flex: 1 1 auto;
		}
	}

	.l-testimonials__text {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;

		@include media(">desktop") {
			padding: var(--space-top) var(--space-right) var(--space-bottom) var(--space-left);
			flex: 0 0 var(--columns-ratio);
			max-width: var(--columns-ratio);
		}
	}

	&.text-left {

		.l-testimonials__text {
			justify-content: flex-start;
		}
	}

	&.has-shadow {
		box-shadow: var(--c-block__shadow);
	}

	&.order-reverse {

		@include media(">tablet") {
			flex-direction: row-reverse;
		}
	}

	&.is-vertical {
		flex-direction: column;
		align-items: center;
	}

	&.is-vertical.order-reverse {

		@include media(">desktop") {
			flex-direction: column-reverse;
		}
	}
}
