@use "../../_DS-core/mixins/include-media" as *;
@use "../../_DS-core/mixins/mini-mixins" as *;

.l-testimonials-v1 {

	--c-block__bg: #eee;

	.c-media {
		height: 100%;

		@include media("<=tablet") {

			img {
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.m-slide {

		&__media {
			border-radius: 10px;
			overflow: hidden;
			font-size: 0;
			line-height: 0;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			inset: 0;

			@include has-overlay(var(--overlayOpacity), var(--overlayBg));

			img,
			video,
			iframe {
				height: 100%;
				width: 100%;
				object-fit: cover;
				border-radius: 10px;
			}
		}
	}


}
