@use "../mixins/include-media" as *;

.align-center,
.text-center,
.has-text-align-center {
	text-align: center;
}

.text-right,
.has-text-align-right {
	text-align: right;
}

.text-left,
.has-text-align-left {
	text-align: left;
}

.--border-radius-m{
  border-radius: 20px;
  overflow: hidden;
}

.--border-radius-l{
  border-radius: 30px;
  overflow: hidden;
}

@include media ('<=tablet') {

	.text-center-mobile {
		text-align: center;
	}

	.text-left-mobile {
		text-align: left;
	}

	.text-right-mobile {
		text-align: right;
	}
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.overflow-hidden {
	overflow: hidden;
}

.has-overflow {
	overflow: hidden;
}

.img-invert {
	filter: invert(1);
	opacity: 0.5;
}

.pb-10 {
	padding-bottom: 10px;
}

[data-object-fit="cover"] {
	object-fit: cover;
}

[data-object-fit="contain"] {
	object-fit: contain;
}

.-nobg {
	background-image: none !important;
}

.-nowrap {
	white-space: nowrap;
}

/* Background */

.bg-auto {
	background-size: auto;
}

.bg-cover {
	background-size: cover;
}

.bg-contain {
	background-size: contain;
}

.bg-fixed {
	background-attachment: fixed;
}

.bg-transparent {
	background-color: transparent;
}

.bg-bottom {
	background-position: bottom;
}

.bg-center {
	background-position: center;
}

.bg-left {
	background-position: left;
}

.bg-left-bottom {
	background-position: left bottom;
}

.bg-left-top {
	background-position: left top;
}

.bg-right {
	background-position: right;
}

.bg-right-bottom {
	background-position: right bottom;
}

.bg-right-top {
	background-position: right top;
}

.bg-top {
	background-position: top;
}

.bg-repeat {
	background-repeat: repeat;
}

.bg-no-repeat {
	background-repeat: no-repeat;
}

.bg-repeat-x {
	background-repeat: repeat-x;
}

.bg-repeat-y {
	background-repeat: repeat-y;
}

.bg-repeat-round {
	background-repeat: round;
}

.bg-repeat-space {
	background-repeat: space;
}

/* Flex */

.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-col {
	flex-direction: column;
}

.flex-col-reverse {
	flex-direction: column-reverse;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.items-start {
	align-items: flex-start;
}

.items-end {
	align-items: flex-end;
}

.items-center {
	align-items: center;
}

.items-baseline {
	align-items: baseline;
}

.items-stretch {
	align-items: stretch;
}

.content-center {
	align-content: center;
}

.content-start {
	align-content: flex-start;
}

.content-end {
	align-content: flex-end;
}

.content-between {
	align-content: space-between;
}

.content-around {
	align-content: space-around;
}

.content-evenly {
	align-content: space-evenly;
}

.self-auto {
	align-self: auto;
}

.self-start {
	align-self: flex-start;
}

.self-end {
	align-self: flex-end;
}

.self-center {
	align-self: center;
}

.self-stretch {
	align-self: stretch;
}

.justify-items-auto {
	justify-items: auto;
}

.justify-items-start {
	justify-items: start;
}

.justify-items-end {
	justify-items: end;
}

.justify-items-center {
	justify-items: center;
}

.justify-items-stretch {
	justify-items: stretch;
}

.justify-start,
.flex-left {
	justify-content: flex-start;
}

.justify-end,
.flex-right {
	justify-content: flex-end;
}

.justify-center,
.flex-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-evenly {
	justify-content: space-evenly;
}

.justify-self-auto {
	justify-self: auto;
}

.justify-self-start {
	justify-self: start;
}

.justify-self-end {
	justify-self: end;
}

.justify-self-center {
	justify-self: center;
}

.justify-self-stretch {
	justify-self: stretch;
}

.flex-1 {
	flex: 1 1 0%;
}

.flex-auto {
	flex: 1 1 auto;
}

.flex-initial {
	flex: 0 1 auto;
}

.flex-none {
	flex: none;
}

.flex-grow-0 {
	flex-grow: 0;
}

.flex-grow {
	flex-grow: 1;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.flex-shrink {
	flex-shrink: 1;
}

.order-2 {
	order: 2;
}

.order-3 {
	order: 3;
}

.order-first {
	order: -9999;
}

.order-last {
	order: 9999;
}

.order-none {
	order: 0;
}
