/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

@use "../../../../../assets/_src/sass/_DS-core/mixins/include-media" as *;

.dst-wrapper {
	position: relative;

	&__inner {
		min-height: var(--wrapperHeight, auto);
	}

	&.--h-small {
		--wrapperHeight: 35rem;
	}

	&.--h-medium {
		--wrapperHeight: 47.5rem;
	}

	&.--h-large {
		--wrapperHeight: 70rem;
	}

	&.--h-full {
		--wrapperHeight: calc(100vh - var(--dst--header-height, 60px) - var(--wp-admin--admin-bar--height, 0px));
	}

	&.flex-wrapper {

		.dst-wrapper {

			&__inner {
				display: flex;
				gap: var(--dst--page-gutter);

				@include media("<=desktop") {
					flex-direction: column;
				}
			}
		}
	}
}
