@use "../../../mixins/include-media" as *;
@use "../../../mixins/mini-mixins" as *;

/**
 #################
 #   DSBLS SLIDER:
 #################
 */

/* Layout */

.slider-dsbls {
    padding-block: 0;

    .m-slider {

        &__container {

            @include media("<=desktop") {
                display: none;
            }
        }

        &__slide {
            height: auto;
        }

        &__arrows {

            @include media(">desktop") {
                display: none;
            }

            @include media("<=desktop") {
                display: flex;
            }
        }
    }

    .m-slide {
        max-height: var(--dsbls-height);

        @include media(">desktop") {
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;
        }

        &__media {

            &,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .l-slider-nav {

        @include media(">desktop") {
            position: absolute;
            inset: 0;
            z-index: 3;
        }

        &__container {
            display: flex;
            height: 100%;

            &--fluid {

                @include media(">desktop") {
                    padding: 0;
                }
            }
        }

        &__inner {
            height: 100%;
            width: 100%;
        }

        &__pagination {
            display: flex;
            justify-content: center;
            margin-block: 30px;

            @include media(">desktop") {
                display: none;
            }

        }
    }

    &.container {

        &::after,
        .l-slider-nav {
            left: var(--dst--page-gutter);
            right: var(--dst--page-gutter);
            width: auto;
        }
    }
}

/* Component */

.c-block-dsbls {
    position: relative;
    border-radius: 0;
    color: var(--dsbls-color);

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        z-index: 0;
        pointer-events: none;
        transition: all 0.3s;
    }

    &::before {
        inset: 0;
        background-color: var(--dsbls-overlay);
        opacity: 0.7;

        @include media(">desktop") {
            opacity: 0;
        }
    }

    &::after {
        height: 50%;
        bottom: 0;
        left: 0;

        @include gradient-vertical(transparent, var(--dsbls-overlay));
    }

    @include media(">desktop") {
        justify-content: flex-end;
        flex-direction: column;
        display: flex;
        padding: 3rem;
        width: 100%;

        &:not(:last-child) {
            border-right: 1px solid rgba(255, 255, 255, 0.3);
        }
    }

    @include media(">desktop-m") {
        padding: 5rem;
    }

    @include media("<=desktop") {
        position: relative;
        justify-content: flex-end;
        flex-direction: column;
        min-height: 350px;
        height: 100%;
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    @include media("<=tablet") {
        min-width: 100%;
    }

    @include media(">desktop") {
        cursor: pointer;

        &:hover {

            &::before {
                opacity: 1;
            }
        }
    }

    &.is-active {

        @include media(">desktop") {

            &::before {
                opacity: 0.5;
            }

            &::after {
                height: 30%;

                @include gradient-vertical(transparent, var(--dsbls-overlay));
            }
        }

        .c-block__description {
            max-height: 10em;
            transition: max-height 0.3s ease-in;
        }
    }

    .c-block {
        color: var(--dsbls-color);

        &__title {
            font-size: var(--dsbls-title-size);
            font-weight: var(--dsbls-title-weight);
            margin-bottom: 0.5em;
        }

        &__body {
            position: relative;
            z-index: 2;

            @include media("<=desktop") {
                padding: 3rem 2rem;
            }

            @include media("<=phone-l") {
                text-align: center;
            }
        }

        &__description {
            font-size: var(--dsbls-text-size);

            @include media(">desktop") {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease-out;
            }
        }
    }

    .c-picture {

        @include media(">desktop") {
            display: none;
        }

        img {

            @include media("<=desktop") {
                position: absolute;
                inset: 0;
                object-fit: cover;
                z-index: -1;
            }
        }
    }
}
