@use "../_DS-core/mixins/include-media" as *;

/* Core configuration variables */

.wp-block-ds-blocks-ds-tabs {

	--tabs-min-height: 250px;
	--label-max-width: 250px;
	--scroller-width: 600px;
	--scroller-items-number: 4;
	--scroller-mobile-width: 240px;
	--scroller-mobile-items-number: 1;

	/* Base layout variables */
	--tabs-direction: column;

	--labels-direction: row;
	--labels-justify: initial;
	--labels-width: auto;
	--label-width: auto;
	--label-justifty: flex-start;
	--labels-display: flex;
	--labels-font-weight: 600;
	--labels-padding: 8px 16px;

	--panels-flex-direction: row;
	--panels-gap: 0;

	--track-flex-direction: row;
	--dropdown-display: none;
	--accordion-label-display: none;
	--scroller-size-width: var(--scroller-width);
	--scroller-size-height: auto;

	/* Base component styles */
	border: none;
	margin-bottom: 1em;

	/* Default mobile styles */

	@include media("<=desktop") {
		--panels-flex-direction: column;
		--tabs-direction: column;
		--labels-width: 100%;
		--labels-direction: column;
		--tabs-min-height: auto;
		--scroller-width: var(--scroller-mobile-width);
		--scroller-items-number: var(--scroller-mobile-items-number) !important;
	}

	&__inner {
		gap: 2rem;
		justify-content: space-between;
	}

	&__labels {

		&-title {
			color: var(--dst--base-heading-color);
		}
	}

	&.is-accordion-mobile {

		.wp-block-ds-blocks-ds-tabs {

			&__labels {

				@include media("<=desktop") {
					display: none;
				}
			}

			&__panels {

				.wp-block-ds-blocks-ds-tabs {

					&__label {
						display: flex;
						padding: var(--labels-padding, 1em 5rem);

						@include media(">desktop") {
							display: none;
						}
					}
				}
			}
		}
	}

	&.--with-faq {
		--labels-gap: 1.6rem;
		--labels-padding: 0.6rem 2.3rem;
		--labels-font-size: 18px;
		--tabs-label-mobile-size: 18px;
		--tabs-padding: 0;

		.wp-block-ds-blocks-ds-tabs {

			&__labels {
				min-width: 46rem;
			}

			&__label {
				gap: 2.4rem;
				border: 1px solid var(--dst--secondary-color1);
				border-radius: 10px;

				&.--active {
					--labels-color: var(--dst--secondary-color1);
					border-color: var(--dst--primary-color2);
					background-color: var(--dst--primary-color2);
					box-shadow: 0 5px 80px 10px rgba(96, 97, 112, 0.12);

					&:hover {
						color: var(--dst--secondary-color1);
					}
				}

				&:hover {
					border-color: var(--dst--primary-color2);
					color: var(--dst--primary-color1);
				}
			}

			&__icon {
				padding: .8rem;
				border-radius: 1.6rem;
				background-color: var(--dst--secondary-color1);
			}

			&__panels {
				row-gap: 2rem;

				.wp-block-ds-blocks-ds-tabs {

					&__label {
						align-items: center;
						border-color: var(--dst--primary-color2);

						&.--active {

							&::after {
								position: relative;
								width: 13px;
								height: 13px;
								border-color: var(--dst--secondary-color1);
								transform: rotate(-45deg)
							}
						}

						&::after {
							position: relative;
							width: 13px;
							height: 13px;
							border-color: var(--dst--primary-color2);
						}
					}

					&__text {
						flex-grow: 1;
						text-align: left;
					}
				}
			}
		}
	}

	&.--tabs-list {
		--labels-gap: 1.6rem;
		--labels-padding: 0.6rem 2.3rem;
		--labels-font-size: 2.4rem;
		--tabs-label-mobile-size: 18px;
		--tabs-padding: 0;

		.wp-block-ds-blocks-ds-tabs {

			&__labels {
				--labels-width: 100%;
				position: relative;
				gap: 4rem;
				flex: auto;
				overflow-y: clip;

				&-title {
					margin-bottom: 7rem;
				}
			}

			&__panels {
				--panels-gap: 4rem;

				position: relative;
				overflow-y: clip;

				@include media(">desktop") {
					max-width: 70.4rem;
				}

				.wp-block-ds-blocks-ds-tabs {

					&__label {
						padding: 0;
					}
				}

				.wp-block-ds-blocks-ds-tab {

					@include media("<=desktop") {
						padding-left: 6rem;
					}
				}

				.wp-block-ds-blocks-c-media {

					.dst-media {

						&__primary {

							&.r-16x9 {
								aspect-ratio: 704 / 534;
							}
						}
					}
				}
			}

			&__label {
				--index-size: 5rem;
				padding: 0;
				gap: 2.3rem;
				transition: all .375s ease-in-out;

				&::after {
					display: none;
				}

				.wp-block-ds-blocks-ds-tabs {

					&__index {
						display: flex;
						align-items: center;
						justify-content: center;
						flex-shrink: 0;
						width: var(--index-size);
						height: var(--index-size);
						border: 1px solid var(--dst--secondary-color7);
						border-radius: 50%;
						font-family: var(--dst--font-secondary);
						font-size: 2.4rem;
						font-weight: 400;
						background-color: var(--dst--secondary-color1);
						color: var(--dst--secondary-color7);
						box-shadow: 0 1rem .5rem 0 rgba(255, 255, 255, 1), 0 -1rem .5rem 0 rgba(255, 255, 255, 1);
						transition: all .375s ease-in-out;
					}

					&__text-wrapper {
						transition: all .375s ease-in-out;
					}

					&__description {
						opacity: 0;
						max-height: 0;
						transition: all .375s ease-in-out;
					}
				}

				&.--active {
					--labels-font-size: 3.6rem;
					--index-size: 5.8rem;

					font-family: var(--dst--font-secondary);

					.wp-block-ds-blocks-ds-tabs {

						&__index {
							border: 4px solid var(--dst--secondary-color8);
							color: var(--dst--secondary-color8);
							margin-inline: -.4rem;
						}

						&__text-wrapper {
							padding-top: .5rem;
							gap: 1.3rem;
						}

						&__description {
							opacity: 1;
							max-height: 50rem;
						}
					}
				}

				&:last-of-type {

					.wp-block-ds-blocks-ds-tabs {

						&__index {
							position: relative;

							&::before {
								content: '';
								position: absolute;
								height: 100vh;
								width: 1px;
								border: 1px dashed var(--dst--secondary-color7);
								bottom: 5rem;
								left: 2.3rem;
								z-index: -1;
							}
						}
					}
				}
			}
		}
	}
}


