@use "../_DS-core/mixins/include-media" as *;
@use "../_DS-core/modules/core--wrapper";

/* Wrapper decorations */

.m-wrapper {

  .c-decor {
	pointer-events: none;
	position: absolute;

	@include media("<=tablet") {
	  display: none;
	}
  }

  .--d-right {
	right: 0;
  }

  .--d-left {
	left: 0;
  }

  .--d-top {
	top: 0;
  }

  .--d-bottom {
	bottom: 0;
  }

  .--d-center-x {
	left: 50%;
	transform: translateX(-50%);
  }

  .--d-center-y {
	top: 50%;
	transform: translateY(-50%);
  }
}

// Custom wrappers
.dst-wrapper {

  &.--dst-cta-break-v1 {
	box-shadow: 0 0.986px 49.306px 0 rgba(0, 0, 0, 0.08);

	@include media(">tablet") {
	  border-top-left-radius: 30px;
	  border-top-right-radius: 30px;
	  box-shadow: 0 2px 100px 0 rgba(0, 0, 0, 0.08);
	}

	.ds-columns {

	  &:first-of-type {

		.ds-row {

		  &::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 22.5rem;
			background: linear-gradient(180deg, rgba(26, 152, 80, 0.00) 3.05%, rgba(18, 134, 69, 0.66) 43.07%, #0E7D3F 72.89%);
			z-index: 4;
			pointer-events: none;
		  }
		}

		.ds-column {

		  &:first-of-type {
			padding-block: 8.7rem 14rem;
			padding-inline: 9.5rem 0;
			gap: 3.2rem;
			z-index: 5;

			@include media("<=tablet") {
			  padding-block: 34px 0;
			  padding-inline: 30px;
			  gap: 21px;
			}

			.wp-block-list {
			  letter-spacing: -0.342px;

			  li {
				margin-bottom: 0;
			  }
			}

			.dst-button-group {
			  width: 100%;

			  .c-btn {

				@include media("<=phone-l") {
				  width: 100%;
				  justify-content: center;
				}
			  }
			}
		  }
		}

		.wp-block-ds-blocks-c-media{
		  width: 100%;
		}
		.dst-media {

		  &__primary {

			&.r-16x9 {
			  aspect-ratio: 805 /604;
			  justify-content: flex-end;

			  @include media("<=tablet") {
				aspect-ratio: 350 /251;
				justify-content: center;

				.dst-media {
				  &__src {
					object-fit: cover;
					object-position: 50% 50%;
					height: 100%;
					width: 100%;
				  }
				}
			  }

			  .c-picture{
				display: block;
				width: 100%;
				height: 100%;
			  }
			}
		  }
		}

	  }

	  &:last-of-type {
		position: absolute;
		bottom: 0;
		right: 0;
		padding-bottom: 2rem;
		z-index: 5;
	  }
	}
  }

  &:has(.--cards-media.ds-columns) {

	.wp-block-ds-blocks-c-heading {

	  .c-heading {
		margin-bottom: 2.4rem;
	  }

	  margin-bottom: 2rem;
	}
  }

  &:has(.--testimonial-card.ds-columns) {

	@include media(">desktop") {
	  padding-right: 0;
	}

	.dst-wrapper {

	  &__inner {

		@include media(">desktop") {
		  margin-left: max(var(--dst-offset), var(--dst--page-gutter));
		}

		> .wp-block-ds-blocks-c-heading {

		  @include media(">desktop") {
			margin-inline: 0 auto;
		  }

		  @include media("<=desktop") {
			padding-inline: var(--dst--page-gutter);
		  }
		}
	  }
	}
  }

  // mega menu item wrapper for submenues
  &.-mega-menu-box {
	border-radius: 3rem;
	padding: 3rem;

	@include media(">desktop") {
	  padding: 6.4rem;
	}

	.container {
	  padding-inline: 0;
	}

	.dst-button-group {
	  margin-top: 2.6rem;

	  .c-btn {
		width: 100%;
		justify-content: center;
	  }
	}

	.c-heading {

	  &__sub {
		font-size: 2.4rem;
		font-family: var(--dst--font-secondary);
		margin-top: 0;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 1.8rem;
	  }
	}
  }

  &.dst-adivaha-wrapper {
	--wrapperHeight: auto;
	z-index: 10;

	&.is-fixed {
	  position: fixed;
	  left: 0;
	  bottom: 35px;
	  z-index: 20;
	  background-color: transparent;
	  padding-bottom: var(--dst--page-gutter);
	  transition: all .375s ease-in-out, background-color .475s ease-in-out;

	  &.is-expanded {
		bottom: 0;
		background-color: var(--dst--secondary-color1);
		border-radius: 20px 20px 0 0;
		box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.20);
		transition: background-color .275s ease-in-out;

		&::before {
		  content: '';
		  display: block;
		  width: 50px;
		  height: 4px;
		  margin-block: 1rem 3rem;
		  margin-inline: auto;
		  border-radius: 4rem;
		  background-color: #EAEAEA;
		}

		.dst-wrapper {

		  &__inner {

			> .c-btn {
			  opacity: 0;
			  max-height: 0;
			}

			#adivaha-wrapper {

			  @media only screen and (max-width: 786px) {
				max-height: 80vh;
				overflow: auto;
				padding-inline: 5px;


				&::-webkit-scrollbar {
				  width: 2px;
				}

				&::-webkit-scrollbar-track {
				  background: var(--dst--secondary-color1);
				}

				&::-webkit-scrollbar-thumb {
				  background-color: var(--dst--primary-color2);
				}
			  }
			}
		  }
		}
	  }

	  .dst-wrapper {

		&__inner {

		  > .c-btn {
			max-height: 60px;
			border-width: 1px;
		  }

		  #adivaha-wrapper {

			@media only screen and (max-width: 786px) {
			  overflow: hidden;
			  max-height: 0;
			  transition: all .375s ease-in-out;
			}
		  }
		}
	  }
	}

	&:not(.is-fixed) {

	  @media only screen and (max-width: 786px) {

		height: 320px;
		padding: 0;

		.dst-wrapper {

		  &__inner {
			position: relative;

			#adivaha-wrapper {
			  position: absolute;
			  z-index: 20;
			}
		  }
		}
	  }
	}

	@media only screen and (min-width: 787px) {
	  position: absolute;
	  top: 67%;
	  width: 100%;
	  left: 50%;
	  transform: translateX(-50%);
	  padding: 0;
	}

	@include media(">desktop-l") {
	  top: 62%;
	}

	.dst-wrapper {

	  &__inner {

		> .c-btn {
		  height: 44px;
		  max-height: 0;
		  width: 100%;
		  justify-content: center;
		  opacity: 1;
		  transition: all .275s ease-in-out;
		  overflow: hidden;
		  margin: 0;
		  border-width: 0;

		  &:not(.wp-block) {

			@media only screen and (min-width: 787px) {
			  display: none;
			}
		  }
		}
	  }
	}
  }
}

