@use "../_DS-core/modules/core--counter";

/* Counters */

.m-counter {
	--l-block__col: 3;
	--l-block__gap: 20px;
	--l-block__padding-block: 20px;
	--l-block__padding-inline: 20px;

	--c-block__padding-block: 15px;
	--c-block__padding-inline: 15px;

	--counter-num-size: 5rem;
	--counter-num-weight: 700;
	--counter-num-lh: 1;
	--counter-font-size: 1.6rem;
	--counter-font-weight: 500;
	--counter-symbol-size: var(--counter-num-size);
	--counter-title-size: 2.2rem;
	--counter-title-weight: 700;
}

.c-counter {

	&__num {

	}

	&__symbol {

	}

	&__title {

	}

	&__description {

	}
}
