@use "../_DS-core/mixins/include-media" as *;
@use "../_DS-core/layout/core--footer";

/* Footer */

.site-footer {
  --dst--footer-padding-top: 10vh 7.8rem;
  --dst--footer-top-font-size: 1.6rem;
  --dst--footer-bottom-padding: 1.2em;
  --dst--footer-bottom-font-size: 1.6rem;
  --dst--footer-nav-gap-block: 1.6em;
  --dst--footer-nav-gap-inline: 1vw;
  --dst--footer-logo-height: auto;
  --dst--footer-logo-width: 20.9rem;
  --dst--footer-title-size: 2.4rem;
  --dst--footer-title-weight: 600;
  --dst--footer-title-transform: capitalize;

  @include media('<=tablet') {
	--dst--footer-logo-width: calc(20.9rem * 1.25);
  }

  .c-newsletter {
	--dst--nl-form-width: 37.4rem;
	--dst--nl-height: 5rem;
	--dst--nl-radius: 0;
	--dst--nl-title-size: 2.4rem;
	--dst--nl-title-weight: 600;
	--dst--nl-subtitle-size: var(--dst--base-text-size);
	--dst--nl-subtitle-weight: var(--dst--base-text-font-weight);

	--dst--input-height: 5rem;
	--dst--input-border-width: 1px;
	--dst--input-border-radius: 0;
	--dst--input-padding-block: 1.4rem;
	--dst--input-padding-inline: 0;
	--dst--input-bg-color: transparent;

	&__form {
	  flex-direction: column;
	  display: flex;
	  gap: 2.4rem;

	  @include media("<=tablet") {
		margin-inline: auto;
		max-width: 100%;
	  }
	}

	&__title {

	  @include media("<=tablet") {
		font-size: calc(2.4rem * 1.25);
	  }
	}

	&__container {

	  @include media("<=tablet") {
		padding-inline: 0;
	  }
	}

	.gform_wrapper {

	  .gfield {

		&--type-submit {
		  position: absolute;
		  height: var(--dst--nl-height);
		  right: 0;
		  top: 0;
		  width: fit-content;

		  &::after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			width: 8px;
			height: 8px;
			pointer-events: none;
			border-top: 2px solid var(--dst--secondary-color1);
			border-right: 2px solid var(--dst--secondary-color1);
			transform: translate(-70%, -50%) rotate(45deg);
		  }

		  &:hover {

			&::after {
			  border-color: var(--dst--btn-primary-border-color-hover);
			}
		  }

		  .gform-button {
			font-size: 0;
			height: 100%;
			min-width: 5rem;
			border-top-left-radius: .8rem;
			border-top-right-radius: .8rem;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			position: relative;
			padding-inline: 1rem;
		  }
		}

		&_error {

		  .validation_message {
			padding: 3px 0;
		  }
		}
	  }

	  input[type="text"],
	  input[type="email"],
	  input[type="phone"],
	  input[type="tel"],
	  input[type="number"],
	  input[type="date"],
	  input[type="file"],
	  input[type="password"],
	  select {
		border: unset;
		border-bottom: var(--dst--input-border-width, 1px) solid var(--dst--secondary-color3, #666);
		height: var(--dst--nl-height, unset);
	  }


	  .gform-body {
		position: relative;
	  }
	}
  }

  .social-list {
	--dst--footer-nav-gap-inline: 1.2rem;
	--social-icon-size: 3rem;
  }

  .copyright {
	font-weight: 600;
	line-height: 1.3;
	font-size: 1.6rem;
	color: var(--dst--primary-color2);

	@include media('>desktop') {
	  margin-inline: auto;
	}
  }
}

.footer-title,
.footer-back-title {
  font-family: var(--dst--font-secondary);
  line-height: 1.24;
}

.footer-title {
  margin-bottom: 3.2rem;
}

.footer-back-title {
  -webkit-text-stroke: .1rem var(--dst--secondary-color10);
  font-style: normal;
  color: transparent;
  width: 100%;
  text-transform: capitalize;
  font-size: clamp(4rem, 10vw, 10.9rem); /* Responsive font size */
  font-weight: 600;
  letter-spacing: -0.218rem;
  white-space: nowrap;
}

.footer-back-title-image {

  @include media(">tablet") {
	margin-top: 6.2rem;
  }

  .c-media {
	aspect-ratio: unset;
	width: 100%;
	height: auto;
  }
}

.footer-logo {
  margin-bottom: 1.2rem;
}


.footer-block {
  margin-bottom: 2em;
}

.footer-text {
  margin-bottom: 2em;
}


.footer-nav {
  line-height: 1.24;

  .current-menu-item > a {
	color: var(--dst--primary-color2);
	text-decoration: underline;
  }

  &.h-direction {

	@include media(">tablet") {
	  display: flex;
	  align-items: center;
	  gap: var(--dst--footer-nav-gap-inline, 1vw);
	}
  }

  &.v-direction {

	li {
	  margin-bottom: var(--dst--footer-nav-gap-block);
	}
  }
}

.l-footer {

  @include media("<tablet") {
	text-align: center;
  }

  a,
  .plain-menu-item {
	--dst--footer-links-hover-color: var(--dst--primary-color2);
	color: var(--dst--footer-links-color, var(--dst--footer-color));
	text-decoration: none;

	&:hover {
	  color: var(--dst--footer-links-hover-color, var(--dst--footer-links-color));
	  text-decoration: none;
	}
  }
}

.footer-top {

  &__col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;

	@include media("<=tablet") {
	  text-align: center;
	  min-width: 30%;
	}

	&.-newsletter {
	  min-width: 50%;

	  @include media("<=tablet") {
		min-width: 100%;
		text-align: left;
	  }
	}
  }


  &__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
  }


  .social-list {
	display: none;

	@include media("<=tablet") {
	  display: flex;
	  margin: 0 auto;
	}
  }
}

.footer-bottom {

  &__inner {
	@include media("<=tablet") {
	  display: flex;
	}

	.copyright {

	  width: calc(100% / 2);
	  text-align: center;
	  padding-inline: calc((100% / 3) - 30px) 0;

	  @include media("<=tablet") {
		width: calc(100% - 30px);
		padding-inline: 0 30px;
	  }
	}
  }

  .social-list {
	display: flex;
	margin-bottom: 0;
	width: calc(100% / 3);
	justify-content: center;

	@include media("<=tablet") {
	  display: none;
	}
  }

  .footer-nav {
	width: 30px;

	&.is-active {
	  .footer-nav__links-wrapper {
		opacity: 1;
		max-height: 50vh;
		max-width: 100vw;
	  }
	}

	&.is-hoverable {
	  @media only screen and (min-width: 787px) {
		@media (hover: hover) {
		  &:hover {
			.footer-nav__links-wrapper {
			  opacity: 1;
			  max-height: 50vh;
			  max-width: 100vw;
			}
		  }
		}
	  }

	  .footer-nav{
		&__btn {
		  @media only screen and (max-width: 786px) {
			z-index: 30;
		  }
		}
		&__links{
		  > .menu-item{
			&:first-of-type {
			  @media only screen and (min-width: 787px) {
				&:before {
				  content: '';
				  position: absolute;
				  inset: 0;
				}
			  }
			}
		  }
		}
	  }
	}

	&:not(.is-hoverable) {
	  .footer-nav__btn {
		z-index: 30;
	  }
	}

	&__btn {
	  --burger-segment-height: 2px;
	  --burger-segment-radius: 2px;

	  position: relative;
	  color: var(--dst--primary-color2);

	}

	&__links-wrapper {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  height: min(50vh, 50rem);
	  width: max(33vw, 70rem);
	  max-height: 0;
	  max-width: 0;
	  background-color: var(--dst--secondary-color1);
	  border-top-right-radius: 2rem;
	  box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, 0.06);
	  z-index: 25;
	  opacity: 0;
	  transition: all .375s ease-in-out;

	  @media only screen and (max-width: 786px) {
		border-top-left-radius: 2rem;
		border-top-right-radius: 2rem;
		border-bottom-right-radius: 0;
		box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.2);
		width: 100%;
	  }

	  .footer-nav {
		&__links {
		  position: relative;
		  width: 100%;
		  height: 100%;
		  padding-block: 3rem;
		  padding-inline: 3rem;

		  @media only screen and (min-width: 787px) {
			padding-block: 5rem;
			padding-inline: 6rem;
		  }

		  @media only screen and (max-width: 786px) {
			margin-block: 2rem;
			height: calc(100% - 70px);
			overflow: auto;

			&::-webkit-scrollbar {
			  width: 2px;
			}

			&::-webkit-scrollbar-track {
			  background: var(--dst--secondary-color1);
			}

			&::-webkit-scrollbar-thumb {
			  background-color: var(--dst--primary-color2);
			}
		  }

		  > .menu-item {
			width: 50%;
			padding-bottom: 1rem;

			@media only screen and (max-width: 786px) {
			  width: 100%;
			}

			@media (hover: hover) {
			  &:hover {
				> .plain-menu-item {
				  background-color: var(--dst--primary-color2);
				  color: var(--dst--secondary-color1);
				}

				.sub-menu {
				  z-index: 2;
				  opacity: 1;
				}
			  }
			}

			&.is-open {

			  > .plain-menu-item {
				background-color: var(--dst--primary-color2);
				color: var(--dst--secondary-color1);
			  }

			  .sub-menu {
				@media only screen and (max-width: 786px) {
				  max-height: 100vh;
				  padding-block: 2rem;
				}
				z-index: 2;
				opacity: 1;
			  }
			}


			> .plain-menu-item {
			  position: relative;
			  font-weight: var(--dst--footer-title-weight);
			  font-size: 1.8rem;
			  color: var(--dst--primary-color2);
			  font-family: var(--dst--font-secondary);
			  padding: 1rem;
			  cursor: pointer;
			  border: 1px solid var(--dst--primary-color2);
			  border-radius: 1rem;
			  transition: all .375s ease-in-out;

			  @media only screen and (max-width: 786px) {
				width: 100%;
			  }

			}
		  }

		  .nav-icon {
			display: none;
		  }

		  .sub-menu {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			padding-inline: 3rem;
			background-color: var(--dst--secondary-color1);
			overflow: auto;
			transition: all .375s ease-in-out;

			@media only screen and (max-width: 786px) {
			  overflow: hidden;
			  max-height: 0;
			}

			@media only screen and (min-width: 787px) {
			  position: absolute;
			  top: 5rem;
			  right: 0;
			  width: 50%;
			  height: calc(100% - 10rem);
			  opacity: 0;

			  &::-webkit-scrollbar {
				width: 2px;
			  }

			  &::-webkit-scrollbar-track {
				background: var(--dst--secondary-color1);
			  }

			  &::-webkit-scrollbar-thumb {
				background-color: var(--dst--primary-color2);
			  }
			}

			.menu-item {
			  cursor: pointer;
			}
		  }
		}
	  }
	}
  }
}

.footer-form {

  .gform_wrapper.gravity-theme {

	.gfield_label {
	  display: none;
	}

	textarea {
	  max-height: 110px;
	}

	.gform_footer {
	  margin: 0;
	}
  }
}
