@use "../../_DS-core/mixins/include-media" as *;
@use "../../_DS-core/modules/sliders/sliders-components/slider-arrows";
@use "../../_DS-core/modules/sliders/sliders-components/slider-pagination";
@use "../../_DS-core/modules/sliders/sliders-components/slider-thumbs";

.m-slider {
  --swiper-outer-gap: 80px;
  --swiper-arrows-bg: #fff;
  --swiper-arrows-color: var(--dst--primary-color1);
  --swiper-arrows-color-hover: var(--dst--primary-color2);
  --swiper-arrows-shadow: 0 1px 3px rgba(33, 33, 33, 0.1), 0 2px 2px rgba(33, 33, 33, 0.1);

  --swiper-pagination-bullet-horizontal-gap: 5px;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-border: #E5E5E5;
  --swiper-pagination-bullet-inactive-color: #E5E5E5;
  --swiper-pagination-bullet-border-active: var(--dst--secondary-color2);
  --swiper-pagination-bullet-inactive-opacity: 0.8;
  --swiper-pagination-progressbar-size: 1px;

  --swiper-pagination-color: var(--dst--secondary-color2);
  --swiper-pagination-radius: 20px;

  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-size: 52px;
  --swiper-navigation-size-icon: 50%;

  --thumbs-size: 65px;
  --thumb-border-width: 2px;
  --thumb-border-color: #fff;
  --thumb-border-color-active: var(--dst--primary-color1);

  @include media("<=desktop") {
	--swiper-navigation-size: 35px;
	--swiper-outer-gap: 40px;
	--thumbs-size: 30px;
  }

  .swiper-pagination-progressbar {

  }

  .swiper-pagination-progressbar-fill {
	min-height: 5px;
	margin-top: -2px;
  }

  .swiper-pagination-current {
	font-weight: 700;
  }

  &:has([data-slider-navigation="bottom-arrows"]) {

	&:has([data-slider-pagination="combo"]) {

	  .m-slider__controls {
		flex-direction: row-reverse;
	  }
	}

	&:has([data-slider-pagination="default"]) {

	  .m-slider__controls {
		position: relative;
		justify-content: center;
	  }

	  .m-slider__nav {
		position: absolute;
		right: 0;
		top: 0;
		transform: translateY(-100%);
	  }

	  .m-slider__pagination {
		align-items: center;
		gap: 2rem;
		width: auto;
		padding-top: 4.2rem;

		@include media("<=desktop") {
		  --swiper-pagination-bullet-size: 12px;

		  padding-top: 29px;

		  .swiper-pagination-bullet-active{
			--swiper-pagination-bullet-size: 16px;
		  }
		}

		span {
		  margin: 0;
		}
	  }

	  .-prev {
		order: -1;
	  }
	}
  }

}
