@use "../../../mixins/include-media" as *;

.m-image-spinner {

	.hotspot {
		position: absolute;
		transform: translate(-50%, -50%);
		z-index: 1;

		@include media("<=tablet") {
			position: static;
			transform: none;
		}

		&__pin {
			position: relative;
			display: inline-flex;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
			color: #f70;
			cursor: pointer;
			transition: transform 0.2s;

			@include media("<=tablet") {
				position: absolute;
				z-index: 2;
				top: inherit;
				left: inherit;
				transform: translate(-50%, -50%);
				width: 30px;
				height: 30px;
			}
		}

		&__tooltip {
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 10px);
			z-index: 2;
			min-width: 300px;
			max-width: 90vw;
			text-align: center;
			font-size: 14px;
			box-shadow: 0 15px 30px rgba(100, 100, 100, 0.15);
			pointer-events: none;
			opacity: 0;
			transition: opacity 0.2s;

			@include media("<=tablet") {
				top: unset;
				bottom: 0;
				left: 0;
				max-width: 100%;
				width: 100%;
				max-height: 100%;
				transform: none;
				overflow-y: auto;
				text-align: left;
			}

			&-title {
				position: relative;
				margin-bottom: 0;
				padding: 10px 15px;
				background: var(--dst--primary-color1);
				white-space: nowrap;

				@include media("<=tablet") {
					padding-right: 50px;
				}

				@include media(">tablet") {
					padding: 15px 20px;

					&::before {
						content: "";
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 12px 14px 12px;
						border-color: transparent transparent var(--dst--primary-color1) transparent;
						position: absolute;
						top: -12px;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}

			&-description {
				padding: 15px;
				background: #fff;

				@include media("<=tablet") {
					padding-right: 50px;
				}

				@include media(">tablet") {
					padding: 20px;

					&:first-child {
						position: relative;

						&::before {
							content: "";
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 12px 14px 12px;
							border-color: transparent transparent #fff transparent;
							position: absolute;
							top: -12px;
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}

				*:last-child {
					margin-bottom: 0;
				}
			}

			&-close {
				position: absolute;
				top: 8px;
				right: 8px;
				width: 30px;
				height: 30px;
				border: 0;
				border-radius: 50%;
				background: #f70;
				font-size: 20px;
				line-height: 1;

				@include media(">tablet") {
					display: none;
				}

				&::before {
					content: "\2716";
				}
			}
		}

		&.is-active {
			z-index: 2;

			.hotspot {

				&__pin {
					transform: scale(1.2);

					@include media("<=tablet") {
						transform: translate(-50%, -50%) scale(1.2);
					}
				}

				&__tooltip {
					z-index: 3;
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
	}

	.image-spinner {

		&__editor {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-gap: 4px;

			&-frame {
				position: relative;
			}

			.hotspot {
				position: absolute;
				transform: translate(-50%, -50%);
				z-index: 1;

				&__pin {
					position: relative;
					display: inline-flex;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					overflow: hidden;
					background: #f70;
				}
			}
		}
	}
}

.hotspots-content {

	&__list {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.hotspots-nav + & {
			margin-top: 20px;
		}

		&-item {
			padding: 10px 20px;
			text-align: left;
			cursor: pointer;
		}
	}
}

.hotspots-nav {
	display: flex;
	justify-content: center;
	gap: 10px;
}
