
.center-cs {
	--circular-size: 580px;
	--circular-inner-bg: var(--dst--primary-color2);
	--circular-inner-color: var(--dst--primary-color1);

	.l-circular {
		width: calc(var(--circular-size) - 80px);
		height: calc(var(--circular-size) - 80px);
		border-radius: 50%;
		background-color: var(--circular-inner-bg);
		color: var(--circular-inner-color);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-left: 50px;
		padding-right: 50px;
		overflow: hidden;
	}

	.l-slider-nav {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		padding: 0;
		z-index: 1;
		width: var(--circular-size);
		height: var(--circular-size);
		pointer-events: none;
	}

	.m-banner {

		&__container {
			margin-inline: unset;
			max-width: unset;
		}

		&__inner {
			position: absolute;
			left: 50%;
			top: 50%;
			justify-content: center;
			transform: translate(-50%, -50%);
			min-height: unset;
		}

		&__media {

			img {
				object-fit: cover;
			}
		}
	}
}
